Repository wlritchi/env: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, cargo-build, verify-patches, yamllint, nixfmt, stylua

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, post-checkout]
default_stages: [pre-commit, pre-push, manual]
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.30
    hooks:
      - id: uv-lock
        require_serial: true

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [fmt]

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [clippy, --all-targets, --all-features, --, -D, warnings]

      - id: cargo-test
        name: cargo test
        description: Run Rust tests
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [test]

      - id: cargo-audit
        name: cargo audit
        description: Check for security vulnerabilities
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        files: ^rust-utils/.*/Cargo\.(toml|lock)$
        pass_filenames: false
        args: [audit]

      - id: cargo-deny
        name: cargo deny
        description: Check licenses and banned dependencies
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        args: [deny, check]
        files: ^rust-utils/.*/(Cargo\.(toml|lock)|deny\.toml)$
        pass_filenames: false

      - id: cargo-build
        name: cargo build
        description: Build the project
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [build]

      # Dotfile patch verification
      - id: verify-patches
        name: verify patches
        description: Verify that all dotfile patches apply successfully
        entry: bin/meta/wlr-verify-patches
        language: system
        files: ^(patches/.*\.patch|dotfiles/.*)$
        pass_filenames: false

      # Python/Nix/Lua hooks
      - id: yamllint
        name: yamllint
        entry: uv run yamllint
        language: system
        types_or: [yaml]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff
        name: ruff
        entry: uv run ruff check --fix --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true
        fail_fast: true

      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        files: \.nix$
        require_serial: true

      - id: stylua
        name: stylua
        entry: stylua
        language: system
        files: \.lua$
        require_serial: true

  - repo: https://github.com/wlritchi/pre-commit-via-uv
    rev: 1.0.0
    hooks:
      # disabled until python utils are rewritten as proper modules
      # - id: mypy-all-files
      - id: pyright-all-files

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: mixed-line-ending

ci:
  autoupdate_schedule: monthly
  skip: [cargo-audit, cargo-deny]  # Skip these in CI as they're covered by GitHub Actions

fix(ccpatch): keep attribution request-local and guide Z.ai models
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/native_attribution_regression.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patches_catalog.py
Due: none

feat(ccpatch): validate Claude Code 2.1.183 compatibility
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

fix(ccpatch): support Claude Code 2.1.186 thinking renderer
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patches.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

fix(ccpatch): support Claude Code through 2.1.191
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

fix(ccpatch): support Claude Code 2.1.193 worker respawns
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

fix(ccpatch): support Claude Code 2.1.195 compaction changes
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

fix(ccpatch): support Claude Code 2.1.196 token counting
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

fix(ccpatch): preserve Sonnet 5 region in Claude Code 2.1.197
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

fix(ccpatch): support Claude Code 2.1.198 background and thinking changes
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

fix(ccpatch): support Claude Code 2.1.199 state and tool changes
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

test(ccpatch): cover 2.1.199 state and output-limit semantics
  tests/ccpatch/test_background_provider_199.py
  tests/ccpatch/test_provider_output_limits.py
Due: none

refactor(ccpatch): validate patch targets and simplify variant discovery
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_capture_equivalence.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patch_variant_robustness.py
  tests/ccpatch/test_patches.py
  tests/ccpatch/test_patches_catalog.py
  tests/ccpatch/test_provider_transform_robustness.py
Due: none

fix(ccpatch): preserve Claude Code 2.1.200 model routing semantics
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_background_provider_199.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patch_variant_robustness.py
  tests/ccpatch/test_patches_catalog.py
  tests/ccpatch/test_provider_routing_200.py
Due: nixfmt

fix(ccpatch): support Claude Code through 2.1.202
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_background_provider_199.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patch_variant_robustness.py
  tests/ccpatch/test_patches_catalog.py
  tests/ccpatch/test_provider_routing_200.py
Due: nixfmt

fix(ccpatch): preserve worker credential boundaries in 2.1.203
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_background_provider_199.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patch_variant_robustness.py
  tests/ccpatch/test_patches.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

fix(ccpatch): preserve requester context across agents view handoffs
  src/wlrenv/ccpatch/agents_handoff.py
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_agents_handoff.py
  tests/ccpatch/test_patch_variant_robustness.py
  tests/ccpatch/test_patches_catalog.py
  tests/ccpatch/test_provider_agents_fallback.py
Due: none

fix(ccpatch): preserve pricing catalogue semantics through 2.1.206
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/agents_handoff.py
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/native_attribution_regression.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_model_costs_206.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patch_variant_robustness.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

fix(ccpatch): recover provider snapshots safely across daemon takeover
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/provider_native_lifecycle.mjs
  tests/ccpatch/test_patches_catalog.py
  tests/ccpatch/test_provider_native_lifecycle.py
Due: none

test(ccpatch): exercise provider takeover across processes and sockets
  tests/ccpatch/provider_native_lifecycle.mjs
  tests/ccpatch/provider_process_lifecycle.mjs
  tests/ccpatch/test_provider_native_lifecycle.py
Due: none

fix(ccpatch): preserve native provider policy in Claude Code 2.1.207
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/agents_handoff.py
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/provider_native_lifecycle.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patch_variant_robustness.py
  tests/ccpatch/test_patches_catalog.py
  tests/ccpatch/test_provider_agents_fallback.py
  tests/ccpatch/test_provider_native_lifecycle.py
  tests/ccpatch/test_provider_transform_robustness.py
Due: nixfmt

fix(ccpatch): initialize provider registry before early worker settings
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patch_variant_robustness.py
  tests/ccpatch/test_provider_native_lifecycle.py
Due: none

fix(ccpatch): defer requester restoration until worker claim
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/provider_native_lifecycle.mjs
  tests/ccpatch/test_patch_variant_robustness.py
  tests/ccpatch/test_provider_native_lifecycle.py
Due: none

fix(ccpatch): preserve worker lifecycle semantics in Claude Code 2.1.208
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/agents_handoff.py
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/provider_native_lifecycle.mjs
  tests/ccpatch/provider_process_lifecycle.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patch_variant_robustness.py
  tests/ccpatch/test_patches_catalog.py
  tests/ccpatch/test_provider_native_lifecycle.py
Due: nixfmt

fix(ccpatch): preserve attribution semantics through Claude Code 2.1.211
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/agents_handoff.py
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/native_attribution_regression.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_model_dialogs_209.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patch_variant_robustness.py
  tests/ccpatch/test_patches_catalog.py
  tests/ccpatch/test_provider_agents_fallback.py
  tests/ccpatch/test_provider_native_lifecycle.py
Due: nixfmt

fix(ccpatch): preserve native render and dispatch extensions
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

fix(ccpatch): complete native module sweep through Claude Code 2.1.272
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/agents_handoff.py
  src/wlrenv/ccpatch/bunfmt.py
  src/wlrenv/ccpatch/cli.py
  src/wlrenv/ccpatch/module_runtime.py
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_agents_handoff.py
  tests/ccpatch/test_bunfmt.py
  tests/ccpatch/test_model_costs_206.py
  tests/ccpatch/test_module_runtime.py
  tests/ccpatch/test_module_runtime_lexical.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patch_variant_robustness.py
  tests/ccpatch/test_patches.py
  tests/ccpatch/test_patches_catalog.py
  tests/ccpatch/test_provider_agents_fallback.py
  tests/ccpatch/test_provider_module_runtime.py
  tests/ccpatch/test_provider_routing_200.py
Due: nixfmt

test(ccpatch): validate split native ELF startup and provider helpers
  tests/ccpatch/test_elf_integration.py
Due: none

test(ccpatch): extend native attribution capture oracles through 2.1.272
  tests/ccpatch/native_attribution_regression.mjs
  tests/ccpatch/test_native_attribution.py
Due: none

fix(ccpatch): preserve provider snapshots on legacy stall respawns
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_provider_stall_legacy.py
Due: none

test(ccpatch): restore lifecycle harness and exercise native 272 claims
  tests/ccpatch/test_provider_module_runtime.py
  tests/ccpatch/test_provider_native_lifecycle.py
Due: none

test(ccpatch): separate historical and current capture oracles
  tests/ccpatch/test_capture_equivalence.py
Due: none

fix(ccpatch): discover legacy authenticated worker RV validators
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_provider_transform_robustness.py
Due: none

test(ccpatch): exercise complete native 272 security policies
  tests/ccpatch/test_native_security_272.py
Due: none

fix(ccpatch): support native module handoffs through Claude Code 2.1.274
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/agents_handoff.py
  src/wlrenv/ccpatch/module_runtime.py
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_module_runtime.py
  tests/ccpatch/test_native_attribution.py
  tests/ccpatch/test_patch_variant_robustness.py
  tests/ccpatch/test_patches.py
  tests/ccpatch/test_patches_catalog.py
  tests/ccpatch/test_provider_module_runtime.py
Due: nixfmt

config(claude): model effort settings
  dotfiles/.claude/settings.json
Due: verify-patches

feat(claude): add over-precision category to comment-discipline agent
  dotfiles/.claude/agents/comment-discipline.md
Due: verify-patches

fix(claude): preserve tool result pairing and provider model recognition
  src/cc-openai-proxy/bin/cc-openai-proxy.js
  src/cc-openai-proxy/test/convert.test.js
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_module_runtime.py
  tests/ccpatch/test_provider_model_knowledge.py
Due: none

fix(ccpatch): recognize provider models in startup window classifier
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_provider_model_knowledge.py
Due: none

config(claude): disable feedback
  dotfiles/.claude/settings.json
Due: verify-patches

fix(ccpatch): disable Message Threads for external providers
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_provider_message_threads.py
Due: none
