Repository wlritchi/env: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, cargo-build, verify-patches, yamllint, nixfmt, stylua

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, post-checkout]
default_stages: [pre-commit, pre-push, manual]
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.30
    hooks:
      - id: uv-lock
        require_serial: true

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [fmt]

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [clippy, --all-targets, --all-features, --, -D, warnings]

      - id: cargo-test
        name: cargo test
        description: Run Rust tests
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [test]

      - id: cargo-audit
        name: cargo audit
        description: Check for security vulnerabilities
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        files: ^rust-utils/.*/Cargo\.(toml|lock)$
        pass_filenames: false
        args: [audit]

      - id: cargo-deny
        name: cargo deny
        description: Check licenses and banned dependencies
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        args: [deny, check]
        files: ^rust-utils/.*/(Cargo\.(toml|lock)|deny\.toml)$
        pass_filenames: false

      - id: cargo-build
        name: cargo build
        description: Build the project
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [build]

      # Dotfile patch verification
      - id: verify-patches
        name: verify patches
        description: Verify that all dotfile patches apply successfully
        entry: bin/meta/wlr-verify-patches
        language: system
        files: ^(patches/.*\.patch|dotfiles/.*)$
        pass_filenames: false

      # Python/Nix/Lua hooks
      - id: yamllint
        name: yamllint
        entry: uv run yamllint
        language: system
        types_or: [yaml]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff
        name: ruff
        entry: uv run ruff check --fix --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true
        fail_fast: true

      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        files: \.nix$
        require_serial: true

      - id: stylua
        name: stylua
        entry: stylua
        language: system
        files: \.lua$
        require_serial: true

  - repo: https://github.com/wlritchi/pre-commit-via-uv
    rev: 1.0.0
    hooks:
      # disabled until python utils are rewritten as proper modules
      # - id: mypy-all-files
      - id: pyright-all-files

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: mixed-line-ending

ci:
  autoupdate_schedule: monthly
  skip: [cargo-audit, cargo-deny]  # Skip these in CI as they're covered by GitHub Actions

chore(claude): update to 2.1.32 and opus 4.6
  bin/shims/claude
  dotfiles/.claude/settings.json
Due: verify-patches

fix(claude): drop mention of black from the prompt
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

fix(claude): let harness choose its own opus version
  dotfiles/.claude/settings.json
Due: verify-patches

docs(claude): update prompt to clarify worktrees
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

feat(nix): add entireio/cli package via buildGoModule
  machines/common.nix
  machines/pkgs/entire.nix
Due: nixfmt

chore: bump claude to 2.1.42
  bin/shims/claude
Due: none

feat(claude): enable clang lsp
  dotfiles/.claude/settings.json
Due: verify-patches

feat(niri): add WINDOWNAV keybinds for ZSA Moonlander
  dotfiles/.config/niri/config.kdl
Due: verify-patches

fix(niri): use XF86 keysym names for WINDOWNAV F-key bindings
  dotfiles/.config/niri/config.kdl
Due: verify-patches

fix(niri): enable F20 consume bind and map window up/down to workspace
  dotfiles/.config/niri/config.kdl
Due: verify-patches

docs(keyboard): add docs for window nav layer bindings
  docs/windownav-host-keybinds.md
Due: none

config(git): ignore local settings for entire
  dotfiles/.config/git/ignore
Due: verify-patches

config(linearmouse): add settings for mx master 3
  dotfiles/.config/linearmouse/linearmouse.json
Due: verify-patches

chore: gitignore .entire, entirely
  .gitignore
Due: none

config(claude): include marketplace config, remove ralph, disable native migration
  dotfiles/.claude/settings.json
Due: verify-patches

config(nix): wrap delta to resolve symlinked file paths
  machines/common.nix
  machines/pkgs/delta-realpath.nix
Due: nixfmt

config(nix): add qmk to common packages
  machines/common.nix
Due: nixfmt

docs: add wlr-qmk-flash design plan
  docs/plans/2026-03-07-qmk-flash-design.md
Due: none

docs: add wlr-qmk-flash implementation plan
  docs/plans/2026-03-07-qmk-flash-impl.md
Due: none

feat: add wlr-qmk-flash for Moonlander firmware updates
  bin/util/wlr-qmk-flash
Due: none

fix(wlr-qmk-flash): update submodules on pull
  bin/util/wlr-qmk-flash
Due: none

feat(tmux): add WINDOWNAV pane and tab keybindings
  dotfiles/.tmux.conf
Due: verify-patches

feat(alacritty): add WINDOWNAV pane and tab keybindings
  dotfiles/.config/alacritty/alacritty.toml
Due: verify-patches

feat(ghostty): add WINDOWNAV pane and tab keybindings
  dotfiles/.config/ghostty/config
Due: verify-patches

docs: document tmux escape sequence convention for WINDOWNAV
  docs/windownav-host-keybinds.md
Due: none

docs: add WINDOWNAV tmux keybindings design plan
  docs/plans/2026-03-07-windownav-tmux-keybinds-design.md
Due: none

feat: update WINDOWNAV one-shot keybindings from letters to F-keys
  dotfiles/.config/alacritty/alacritty.toml
  dotfiles/.config/ghostty/config
  dotfiles/.config/niri/config.kdl
  dotfiles/.tmux.conf
Due: verify-patches

feat(aerospace): add WINDOWNAV keybindings for macOS
  dotfiles/.aerospace.toml
Due: verify-patches

docs: update WINDOWNAV host keybinds for F-key one-shot actions
  docs/windownav-host-keybinds.md
Due: none

fix(aerospace): add wrap-around to WINDOWNAV focus bindings
  dotfiles/.aerospace.toml
Due: verify-patches

feat(kubectl): add modify-secret plugin
  machines/linux.nix
Due: nixfmt

feat(windownav): add split-h/v keys, change create-pane to new-window
  docs/windownav-host-keybinds.md
  dotfiles/.config/alacritty/alacritty.toml
  dotfiles/.tmux.conf
Due: verify-patches

feat(claude): enable voice mode
  bin/shims/claude
  dotfiles/.claude/settings.json
Due: verify-patches

feat(nix): autodetect system architecture for home-manager configs
  bin/meta/wlr-nix-rebuild
  flake.nix
Due: nixfmt

feat(nix): switch to krew2nix fork with updated krew-index
  flake.lock
  flake.nix
Due: nixfmt

fix(claude): docs directories from newer superpowers
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

feat(secwrap): add --from and --help options
  machines/pkgs/secwrap.nix
Due: nixfmt

feat(nix): unify home-manager config generation across platforms
  flake.nix
  machines/darwin.nix
Due: nixfmt

feat(nix): use impure evaluation for system, hostname, and username
  bin/meta/wlr-nix-rebuild
  flake.nix
  machines/darwin.nix
  machines/linux.nix
Due: nixfmt

docs: update CLAUDE.md for impure flake evaluation changes
  CLAUDE.md
Due: none
