Repository wlritchi/env: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, cargo-build, verify-patches, yamllint, nixfmt, stylua

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, post-checkout]
default_stages: [pre-commit, pre-push, manual]
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.30
    hooks:
      - id: uv-lock
        require_serial: true

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [fmt]

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [clippy, --all-targets, --all-features, --, -D, warnings]

      - id: cargo-test
        name: cargo test
        description: Run Rust tests
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [test]

      - id: cargo-audit
        name: cargo audit
        description: Check for security vulnerabilities
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        files: ^rust-utils/.*/Cargo\.(toml|lock)$
        pass_filenames: false
        args: [audit]

      - id: cargo-deny
        name: cargo deny
        description: Check licenses and banned dependencies
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        args: [deny, check]
        files: ^rust-utils/.*/(Cargo\.(toml|lock)|deny\.toml)$
        pass_filenames: false

      - id: cargo-build
        name: cargo build
        description: Build the project
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [build]

      # Dotfile patch verification
      - id: verify-patches
        name: verify patches
        description: Verify that all dotfile patches apply successfully
        entry: bin/meta/wlr-verify-patches
        language: system
        files: ^(patches/.*\.patch|dotfiles/.*)$
        pass_filenames: false

      # Python/Nix/Lua hooks
      - id: yamllint
        name: yamllint
        entry: uv run yamllint
        language: system
        types_or: [yaml]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff
        name: ruff
        entry: uv run ruff check --fix --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true
        fail_fast: true

      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        files: \.nix$
        require_serial: true

      - id: stylua
        name: stylua
        entry: stylua
        language: system
        files: \.lua$
        require_serial: true

  - repo: https://github.com/wlritchi/pre-commit-via-uv
    rev: 1.0.0
    hooks:
      # disabled until python utils are rewritten as proper modules
      # - id: mypy-all-files
      - id: pyright-all-files

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: mixed-line-ending

ci:
  autoupdate_schedule: monthly
  skip: [cargo-audit, cargo-deny]  # Skip these in CI as they're covered by GitHub Actions

refactor(secwrap): split ShellOutError from MetaKeyError; tighten bootstrap tests
  src/wlrenv/secwrap.py
  tests/test_secwrap.py
Due: none

feat(secwrap): rotate-meta subcommand
  src/wlrenv/secwrap.py
  tests/test_secwrap.py
Due: none

refactor(secwrap): atomic recipient swap; tighten rotate-meta tests
  src/wlrenv/secwrap.py
  tests/test_secwrap.py
Due: none

refactor(secwrap): remove unused _remove_age_recipient helper
  src/wlrenv/secwrap.py
Due: none

feat(secwrap): doctor subcommand for meta-key health checks
  src/wlrenv/secwrap.py
  tests/test_secwrap.py
Due: none

refactor(secwrap): doctor reports all include failures; signal skipped checks
  src/wlrenv/secwrap.py
  tests/test_secwrap.py
Due: none

chore(secwrap): pass -- to disable subcommand interpretation in shell aliases
  env.bash
  xonshrc.py
Due: none

fix(secwrap): pipe meta keys via stdin instead of writing to disk
  src/wlrenv/secwrap.py
  tests/test_secwrap.py
Due: none

fix(secwrap): pass subfolder to passage reencrypt via -p flag
  src/wlrenv/secwrap.py
Due: none

feat(darwin): enable pam_reattach for TouchID sudo in tmux
  machines/darwin-system.nix
Due: nixfmt

fix(secwrap): bootstrap preserves existing recipients; doctor repairs
  src/wlrenv/secwrap.py
  tests/test_secwrap.py
Due: none

fix(secwrap): match age meta key type to existing recipients
  src/wlrenv/secwrap.py
  tests/test_secwrap.py
Due: none

feat(darwin): register podvorak layout as enabled input source
  machines/darwin-system.nix
Due: nixfmt

fix(darwin): use postActivation + launchctl asuser for cfprefsd kill
  machines/darwin-system.nix
Due: nixfmt

feat(darwin): seed autokbisw keyboard→layout mappings
  machines/darwin-system.nix
Due: nixfmt

feat(darwin): bind Home/End to line start/end in Cocoa text views
  dotfiles/uname/Darwin/Library/KeyBindings/DefaultKeyBinding.dict
Due: verify-patches

chore(mpv): clean up old slideshow script
  dotfiles/.config/mpv/scripts/randjump.lua
Due: verify-patches, stylua

config(claude): enable plugin updates
  dotfiles/.claude/settings.json
Due: verify-patches

feat(darwin): disable Ctrl-modified window tiling shortcuts
  machines/darwin-system.nix
Due: nixfmt

docs(claude): modern worktree guidance
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

feat(aerospace): bind alt-cmd-arrows for window focus/move
  dotfiles/.aerospace.toml
Due: verify-patches

feat(darwin): bind Spotlight to alt+p
  machines/darwin-system.nix
Due: nixfmt

feat(darwin): neuter cmd+m Minimize shortcut
  machines/darwin-system.nix
Due: nixfmt

config(nvim): blame line by default, 200ms delay
  dotfiles/.config/nvim/lua/plugins/gitsigns.lua
Due: verify-patches, stylua

fix(windownav): avoid bracketed-paste CSI codes for User0/User1
  docs/windownav-host-keybinds.md
  dotfiles/.config/alacritty/alacritty.toml
  dotfiles/.config/ghostty/config
  dotfiles/.tmux.conf
Due: verify-patches

feat(k8s): gate kubectl-dsh install/configure behind flags
  bin/k8s/kubectl-dsh
Due: none

fix(dd-shim): bypass warning in Claude Code
  bin/shims/dd-shim
Due: none

fix(ccusage): use renamed `period` field in daily output
  dotfiles/.config/swiftbar/ccusage.30s.sh
  dotfiles/.config/waybar/ccusage.sh
Due: verify-patches

fix(claude): unbreak always-show-thinking patch for 2.1.151+
  bin/shims/claude
Due: none

fix(claude): restore truecolor diff colors broken in 2.1.142
  bin/shims/claude
Due: none

feat(k8s): gate kubectl-dsh --ptpython behind --configure, add usage doc
  bin/k8s/kubectl-dsh
Due: none

fix(claude): lift tmux 256-color cap via CLAUDE_CODE_TMUX_TRUECOLOR
  bin/shims/claude
Due: none

chore(claude): drop old disabled permissions
  dotfiles/.claude/settings.json
Due: verify-patches

config(claude): stop forcing subagents to opus, default to xhigh
  dotfiles/.claude/settings.json
Due: verify-patches

docs(claude): spec for Catppuccin Macchiato theme
  docs/specs/2026-05-29-catppuccin-macchiato-theme-design.md
Due: none

feat(claude): add Catppuccin Macchiato custom theme
  dotfiles/.claude/settings.json
  dotfiles/.claude/themes/catppuccin-macchiato.json
Due: verify-patches

feat(claude): Catppuccin-ify syntax highlighting via scope-map patch
  bin/shims/claude
Due: none

chore(claude): bump to 2.1.154 for opus 4.8 compat
  bin/shims/claude
Due: none

docs(claude): clarify guidance for old harnesses
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

docs(claude): add encouragement for workflow notes
  dotfiles/.claude/CLAUDE.md
Due: verify-patches
