Repository wlritchi/env: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, cargo-build, verify-patches, yamllint, nixfmt, stylua

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - fmt

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - clippy
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-test:
  name: cargo test
  description: Run Rust tests
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - test

cargo-audit:
  name: cargo audit
  description: Check for security vulnerabilities
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - audit

cargo-deny:
  name: cargo deny
  description: Check licenses and banned dependencies
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  args:
  - deny
  - check
  pass_filenames: false

cargo-build:
  name: cargo build
  description: Build the project
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - build

verify-patches:
  name: verify patches
  description: Verify that all dotfile patches apply successfully
  entry: bin/meta/wlr-verify-patches
  language: system
  pass_filenames: false

yamllint:
  name: yamllint
  entry: uv run yamllint
  language: system
  require_serial: true

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  require_serial: true

stylua:
  name: stylua
  entry: stylua
  language: system
  require_serial: true

config(claude): skip workflow usage warning
  dotfiles/.claude/settings.json
Due: verify-patches

config(tmux): widen status-left so session names aren't truncated at 10
  dotfiles/.tmux.conf
Due: verify-patches

feat(claude): add init-private-overlay skill for ~/.wlrenv-private setup
  .claude/skills/init-private-overlay/SKILL.md
  .claude/skills/init-private-overlay/templates/flake.nix
  .claude/skills/init-private-overlay/templates/gitignore
  .claude/skills/init-private-overlay/templates/private.nix
Due: nixfmt

feat(ccstatusline): package via nix and track its config
  dotfiles/.claude/settings.json
  dotfiles/.config/ccstatusline/settings.json
  machines/common.nix
  machines/pkgs/ccstatusline.nix
Due: verify-patches, nixfmt

chore(pre-commit): enforce alphabetized keys in Claude settings.json
  .pre-commit-config.yaml
Due: yamllint

feat(claude): usage bars in status line
  dotfiles/.config/ccstatusline/settings.json
Due: verify-patches

chore(claude): bump to 2.1.158 for opus 4.8 bugfix
  bin/shims/claude
Due: none

chore(pre-commit): also alphabetize ccstatusline settings.json
  .pre-commit-config.yaml
  dotfiles/.config/ccstatusline/settings.json
Due: verify-patches, yamllint

config(claude/statusline): add reset timer, drop overage meter
  dotfiles/.config/ccstatusline/settings.json
Due: verify-patches

config(alacritty): map dimmed default-fg to a Catppuccin grey
  dotfiles/.config/alacritty/alacritty.toml
Due: verify-patches

config(claude): disable superpowers
  dotfiles/.claude/settings.json
Due: verify-patches

config(claude/statusline): full width
  dotfiles/.config/ccstatusline/settings.json
Due: verify-patches

config(nix): add fd to common packages
  machines/common.nix
Due: nixfmt

chore(claude): bump to 2.1.170 for fable 5
  bin/shims/claude
Due: none

chore(yay): it rewrote its config
  dotfiles/.config/yay/config.json
Due: verify-patches

config(claude): fable medium
  dotfiles/.claude/settings.json
Due: verify-patches

fix(claude): drop old env var for model selection
  dotfiles/.claude/settings.json
Due: verify-patches

fix(claude): ensure fable is available
  bin/shims/claude
Due: none

feat(claude): ensure channels are available
  bin/shims/claude
Due: none

fix(claude): channels ff
  bin/shims/claude
Due: none

feat(claude): forward dev channels to background agents
  bin/shims/claude
Due: none

fix(claude): no downgrade to opus until I can set effort level
  dotfiles/.claude/settings.json
Due: verify-patches

feat(ccpatch): reproducible Bun-binary patching for Claude Code
  pyproject.toml
  src/wlrenv/ccpatch/__init__.py
  src/wlrenv/ccpatch/bunfmt.py
  src/wlrenv/ccpatch/cli.py
  src/wlrenv/ccpatch/container.py
  src/wlrenv/ccpatch/elf.py
  src/wlrenv/ccpatch/macho.py
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_bunfmt.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches.py
Due: none

feat(ccpatch): port full patch catalog to length-free transforms
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

feat(ccpatch): Nix derivation for reproducible patched Claude Code
  machines/pkgs/claude-code.nix
Due: nixfmt

feat(ccpatch): wire patched claude-code into the home environment
  flake.nix
  machines/common.nix
Due: nixfmt

config(claude): back to opus :notlikethis:
  dotfiles/.claude/settings.json
Due: verify-patches

chore: bump deps
  flake.lock
  rust-utils/niri-spacer/Cargo.lock
  uv.lock
Due: cargo-audit, cargo-deny

build(nix): manage cargo-audit/deny/llvm-cov via home-manager
  machines/common.nix
Due: nixfmt

build(nix): move cargo-llvm-cov to linux-only (broken on Darwin)
  machines/common.nix
  machines/linux.nix
Due: nixfmt

fix(claude): satisfy startup doctor's native-install check
  machines/common.nix
Due: nixfmt

feat(ccpatch): add tier-1 cc-kimi (Kimi Code endpoint variant)
  machines/common.nix
  machines/pkgs/claude-code-kimi.nix
Due: nixfmt

feat(ccpatch): brand-parameterized builds + Kimi label & splash
  flake.nix
  machines/common.nix
  machines/pkgs/cc-kimi-splash.txt
  machines/pkgs/claude-code-kimi.nix
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/cli.py
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

feat(ccpatch): Kimi thinking-verbs + spinner glyphs
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

feat(ccpatch): Kimi Teal theme via custom-theme config (not a patch)
  machines/pkgs/claude-code-kimi.nix
  machines/pkgs/kimi-teal-theme.json
Due: nixfmt

fix(ccpatch): select Kimi Teal via managed settings.json, not seeded .claude.json
  machines/pkgs/claude-code-kimi.nix
Due: nixfmt

feat(ccpatch): add cc-zai (Zai Cloud / GLM variant) + shared variant builder
  machines/common.nix
  machines/pkgs/cc-zai-splash.txt
  machines/pkgs/claude-code-kimi.nix
  machines/pkgs/claude-code-variant.nix
  machines/pkgs/claude-code-zai.nix
  machines/pkgs/zai-carbon-theme.json
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

feat(ccpatch): add cc-minimax + bump Z.ai opus to GLM-5.2
  machines/common.nix
  machines/pkgs/cc-minimax-splash.txt
  machines/pkgs/claude-code-minimax.nix
  machines/pkgs/claude-code-zai.nix
  machines/pkgs/minimax-nebula-theme.json
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

feat(ccpatch): attribute commits to the actual provider model
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

feat(ccpatch): rebrand identity preamble + attribution email per provider
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-audit: any of: ^rust-utils/.*/Cargo\.(toml|lock)$
  cargo-deny: any of: ^rust-utils/.*/(Cargo\.(toml|lock)|deny\.toml)$
  cargo-build: any of: \.rs$
  verify-patches: any of: ^(patches/.*\.patch|dotfiles/.*)$
  yamllint: any of: \.(yaml|yml)$
  nixfmt: any of: \.nix$
  stylua: any of: \.lua$
