Repository wlritchi/env: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, cargo-build, verify-patches, yamllint, nixfmt, stylua

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, post-checkout]
default_stages: [pre-commit, pre-push, manual]
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.30
    hooks:
      - id: uv-lock
        require_serial: true

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [fmt]

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [clippy, --all-targets, --all-features, --, -D, warnings]

      - id: cargo-test
        name: cargo test
        description: Run Rust tests
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [test]

      - id: cargo-audit
        name: cargo audit
        description: Check for security vulnerabilities
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        files: ^rust-utils/.*/Cargo\.(toml|lock)$
        pass_filenames: false
        args: [audit]

      - id: cargo-deny
        name: cargo deny
        description: Check licenses and banned dependencies
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        args: [deny, check]
        files: ^rust-utils/.*/(Cargo\.(toml|lock)|deny\.toml)$
        pass_filenames: false

      - id: cargo-build
        name: cargo build
        description: Build the project
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [build]

      # Dotfile patch verification
      - id: verify-patches
        name: verify patches
        description: Verify that all dotfile patches apply successfully
        entry: bin/meta/wlr-verify-patches
        language: system
        files: ^(patches/.*\.patch|dotfiles/.*)$
        pass_filenames: false

      # Python/Nix/Lua hooks
      - id: yamllint
        name: yamllint
        entry: uv run yamllint
        language: system
        types_or: [yaml]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff
        name: ruff
        entry: uv run ruff check --fix --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true
        fail_fast: true

      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        files: \.nix$
        require_serial: true

      - id: stylua
        name: stylua
        entry: stylua
        language: system
        files: \.lua$
        require_serial: true

  - repo: https://github.com/wlritchi/pre-commit-via-uv
    rev: 1.0.0
    hooks:
      # disabled until python utils are rewritten as proper modules
      # - id: mypy-all-files
      - id: pyright-all-files

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: mixed-line-ending

ci:
  autoupdate_schedule: monthly
  skip: [cargo-audit, cargo-deny]  # Skip these in CI as they're covered by GitHub Actions

feat(util): show mount points and Ceph OSD ids in show-drive-temperatures
  bin/util/show-drive-temperatures
Due: none

feat(util): show drive size in show-drive-temperatures
  bin/util/show-drive-temperatures
Due: none

fix(util): honor whoami length prefix when reading bluestore OSD id
  bin/util/show-drive-temperatures
Due: none

chore(nix): update ccpatch for tool ID compatibility and migration
  flake.lock
Due: none

chore(nix): bump deps
  flake.lock
Due: none

feat(nix): let wlr-nix-rebuild override flake inputs per machine
  CLAUDE.md
  bin/meta/wlr-nix-rebuild
Due: none

feat(nix): add wlr-nix-hm to run home-manager subcommands
  CLAUDE.md
  bin/meta/wlr-nix-hm
  bin/meta/wlr-nix-rebuild
  lib/nix-flake.bash
  tests/test_nix_rebuild.py
Due: none

fix(git): default the macOS signing dialog to Sign
  bin/git/wlr-git-ssh-sign
  tests/test_git_ssh_sign.py
Due: none

feat(wayprompt): add Catppuccin Macchiato colour config
  dotfiles/.config/wayprompt/config.ini
Due: verify-patches

config(aerospace): open Ghostty as own TCC root
  dotfiles/.aerospace.toml
Due: verify-patches

config(xonsh): add utils to imports
  xonshrc.py
Due: none

config(ghostty): stop whining, just close
  dotfiles/.config/ghostty/config
Due: verify-patches

config(claude): add effort levels
  dotfiles/.claude/settings.json
Due: verify-patches

config(claude): fullscreen, max prose width
  dotfiles/.claude/settings.json
Due: verify-patches

sync-dotfiles: keep a .reference copy beside each patched render
  CLAUDE.md
  bin/meta/wlr-sync-dotfiles
Due: none

dotfiles: add wlr-reconcile-dotfiles to fold live drift back into repos
  .claude/skills/init-private-overlay/SKILL.md
  CLAUDE.md
  bin/meta/wlr-check-update
  bin/meta/wlr-sync-dotfiles
  bin/meta/wlr-verify-patches
  docs/specs/2026-10-03-dotfile-drift-reconciliation.md
  pyproject.toml
  src/wlrenv/reconcile_dotfiles.py
  tests/test_check_update.py
  tests/test_reconcile_dotfiles.py
Due: none

config(claude): default to opus
  dotfiles/.claude/settings.json
Due: verify-patches

verify-patches: render every host/uname combination through sync-dotfiles
  .pre-commit-config.yaml
  CLAUDE.md
  bin/early/wlr-ask
  bin/early/wlr-err
  bin/early/wlr-good
  bin/early/wlr-warn
  bin/early/wlr-working
  bin/meta/wlr-sync-dotfiles
  bin/meta/wlr-verify-patches
  patches/host/amygdalin/.uname
  patches/host/neon/.uname
  tests/test_verify_patches.py
Due: yamllint

alacritty: make font size 12 the default, patch europa back to 10
  dotfiles/.config/alacritty/alacritty.toml
  patches/host/europa/.config/alacritty/alacritty.toml.patch
  patches/host/europa/.uname
  patches/uname/Darwin/.config/alacritty/alacritty.toml.patch
Due: verify-patches

fix(claude): use Catppuccin surface color for side panels
  dotfiles/.claude/themes/catppuccin-macchiato.json
Due: verify-patches

config(claude): enable dashboard plugin
  dotfiles/.claude/settings.json
Due: verify-patches

feat(hooks): sync dotfiles after commit, merge, rewrite, and checkout
  .pre-commit-config.yaml
  CLAUDE.md
  bin/meta/wlr-sync-dotfiles-hook
Due: yamllint

config(darwin): disable click-wallpaper-to-reveal-desktop
  machines/darwin-system.nix
Due: nixfmt

config(claude): auto-update wlr plugins
  dotfiles/.claude/settings.json
Due: verify-patches

fix(librewolf): launch the real binary so AeroSpace manages it on macOS 27
  machines/librewolf.nix
Due: nixfmt

fix(update): put the signing wrapper on PATH during the update check
  bin/meta/wlr-check-update
  tests/test_check_update.py
Due: none

config(claude): reorganize global CLAUDE.md
  dotfiles/.claude/CLAUDE.md
  patches/uname/Linux/.claude/CLAUDE.md.patch
Due: verify-patches

docs(specs): forwarded pass decryption with verified prompts
  docs/specs/2026-10-09-pass-forwarding-design.md
Due: none

docs(specs): confirm before agent contact; allow remote signing
  docs/specs/2026-10-09-pass-forwarding-design.md
Due: none

feat(pass-fwd): verifying proxy for forwarded gpg-agent requests
  pyproject.toml
  src/wlrenv/pass_fwd/__init__.py
  src/wlrenv/pass_fwd/cli.py
  src/wlrenv/pass_fwd/dialog.py
  src/wlrenv/pass_fwd/index.py
  src/wlrenv/pass_fwd/keys.py
  src/wlrenv/pass_fwd/proxy.py
  src/wlrenv/pass_fwd/server.py
  tests/pass_fwd/__init__.py
  tests/pass_fwd/helpers.py
  tests/pass_fwd/test_dialog.py
  tests/pass_fwd/test_index.py
  tests/pass_fwd/test_proxy.py
Due: none

feat(pass-fwd): sshx forwarding, card touch policy, strict parsing
  CLAUDE.md
  bin/ssh/sshx
  docs/specs/2026-10-09-pass-forwarding-design.md
  dotfiles/.config/systemd/user/pass-fwd.service
  dotfiles/.tmux.conf
  src/wlrenv/pass_fwd/cli.py
  src/wlrenv/pass_fwd/dialog.py
  src/wlrenv/pass_fwd/index.py
  src/wlrenv/pass_fwd/keys.py
  src/wlrenv/pass_fwd/proxy.py
  src/wlrenv/pass_fwd/server.py
  tests/pass_fwd/test_dialog.py
  tests/pass_fwd/test_index.py
  tests/pass_fwd/test_keys.py
  tests/pass_fwd/test_proxy.py
Due: verify-patches

fix(pass-fwd): recheck the card and re-encode ciphertext before the agent
  src/wlrenv/pass_fwd/cli.py
  src/wlrenv/pass_fwd/keys.py
  src/wlrenv/pass_fwd/proxy.py
  tests/pass_fwd/test_keys.py
  tests/pass_fwd/test_proxy.py
Due: none

feat(pass-fwd): build ~/.gnupg-fwd on each update
  CLAUDE.md
  bin/meta/wlr-pass-fwd-home
  bin/ssh/sshx
  docs/specs/2026-10-09-pass-forwarding-design.md
  hooks/post-upgrade
  src/wlrenv/pass_fwd/cli.py
  tests/test_pass_fwd_home.py
Due: none

feat(sshx): say when the pass-fwd forward cannot be used
  bin/ssh/sshx
Due: none
