Repository wlritchi/env: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, cargo-build, verify-patches, yamllint, nixfmt, stylua

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, post-checkout]
default_stages: [pre-commit, pre-push, manual]
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.30
    hooks:
      - id: uv-lock
        require_serial: true

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [fmt]

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [clippy, --all-targets, --all-features, --, -D, warnings]

      - id: cargo-test
        name: cargo test
        description: Run Rust tests
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [test]

      - id: cargo-audit
        name: cargo audit
        description: Check for security vulnerabilities
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        files: ^rust-utils/.*/Cargo\.(toml|lock)$
        pass_filenames: false
        args: [audit]

      - id: cargo-deny
        name: cargo deny
        description: Check licenses and banned dependencies
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        args: [deny, check]
        files: ^rust-utils/.*/(Cargo\.(toml|lock)|deny\.toml)$
        pass_filenames: false

      - id: cargo-build
        name: cargo build
        description: Build the project
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [build]

      # Dotfile patch verification
      - id: verify-patches
        name: verify patches
        description: Verify that all dotfile patches apply successfully
        entry: bin/meta/wlr-verify-patches
        language: system
        files: ^(patches/.*\.patch|dotfiles/.*)$
        pass_filenames: false

      # Python/Nix/Lua hooks
      - id: yamllint
        name: yamllint
        entry: uv run yamllint
        language: system
        types_or: [yaml]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff
        name: ruff
        entry: uv run ruff check --fix --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true
        fail_fast: true

      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        files: \.nix$
        require_serial: true

      - id: stylua
        name: stylua
        entry: stylua
        language: system
        files: \.lua$
        require_serial: true

  - repo: https://github.com/wlritchi/pre-commit-via-uv
    rev: 1.0.0
    hooks:
      # disabled until python utils are rewritten as proper modules
      # - id: mypy-all-files
      - id: pyright-all-files

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: mixed-line-ending

ci:
  autoupdate_schedule: monthly
  skip: [cargo-audit, cargo-deny]  # Skip these in CI as they're covered by GitHub Actions

feat(niri): add IPC wrapper for niri msg
  src/wlrenv/niri/ipc.py
  tests/niri/test_ipc.py
Due: none

feat(niri): add tmux/mosh session identification
  src/wlrenv/niri/identify.py
  tests/niri/test_identify.py
Due: none

feat(niri): add Librewolf URL matching for window identification
  src/wlrenv/niri/librewolf.py
  tests/niri/test_librewolf.py
Due: none

feat(niri): add unified terminal tracker
  src/wlrenv/niri/track.py
  tests/niri/test_track.py
Due: none

feat(niri): add restore logic for tmux and mosh
  src/wlrenv/niri/restore.py
  tests/niri/test_restore.py
Due: none

feat(niri): add CLI entry points
  pyproject.toml
  src/wlrenv/niri/cli.py
  tests/niri/test_cli.py
Due: none

feat(niri): add Librewolf native messaging host
  pyproject.toml
  src/wlrenv/niri/cli.py
  src/wlrenv/niri/librewolf_host.py
  tests/niri/test_librewolf_host.py
  uv.lock
Due: none

chore(niri): update systemd service to use new Python CLI entry point
  machines/systemd-services.nix
Due: nixfmt

refactor(tmux-niri): remove deprecated bash scripts and resurrect hooks
  bin/ssh/wlr-restore-moshen-sessions
  bin/tmux/wlr-open-tmux-sessions
  bin/tmux/wlr-tmux-niri-tracker
  bin/tmux/wlr-tmux-resurrect-restore-workspaces
  bin/tmux/wlr-tmux-resurrect-save-workspaces
  bin/wayland/wlr-niri-configure-window
  dotfiles/.tmux.conf
Due: verify-patches

docs(niri): fix comment about IDE terminal session names
  src/wlrenv/niri/restore.py
Due: none

fix(niri): use ~/.local/bin path for systemd service
  machines/systemd-services.nix
Due: nixfmt

fix(niri): handle dict format for outputs and skip disabled
  src/wlrenv/niri/ipc.py
  tests/niri/test_ipc.py
Due: none

fix(moshen): prevent newlines in base64-encoded state file entries
  bin/ssh/moshen
  src/wlrenv/niri/restore.py
Due: none

fix(niri): correct mosh session identification for bash scripts
  src/wlrenv/niri/identify.py
  tests/niri/test_identify.py
Due: none

fix(niri): use new restore scripts
  dotfiles/.config/niri/config.kdl
Due: verify-patches

fix(niri): restore prompt before mosh connection
  src/wlrenv/niri/restore.py
Due: none

fix(claude): add claude shim to use bun, avoid fnm
  bin/shims/claude
Due: none

feat(retainer): add file retention utility with exponential bucket thinning
  machines/launchd-services.nix
  machines/systemd-services.nix
  pyproject.toml
  src/wlrenv/retainer.py
  tests/test_retainer.py
  uv.lock
Due: nixfmt

feat(nix): add csvq to common packages
  machines/common.nix
Due: nixfmt

refactor(darwin): use writeShellScript for aerospace cleanup job
  machines/launchd-services.nix
Due: nixfmt

fix(darwin): use parameter expansion for whitespace trimming in aerospace cleanup
  machines/launchd-services.nix
Due: nixfmt

feat(darwin): add acli from nixpkgs PR #446714
  machines/darwin.nix
Due: nixfmt

feat(claude): add system prompt
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

feat(nvim): replace nvim-cmp with blink.cmp
  dotfiles/.config/nvim/lazy-lock.json
  dotfiles/.config/nvim/lua/plugins/completion.lua
Due: verify-patches, stylua

docs(niri): add window column ordering design
  docs/plans/2025-12-05-niri-window-ordering-design.md
Due: none

docs(niri): add window column ordering implementation plan
  docs/plans/2025-12-05-niri-window-ordering-impl.md
Due: none

feat(niri): add column/row position to Window dataclass
  src/wlrenv/niri/ipc.py
  tests/niri/test_ipc.py
Due: none

feat(niri): add focus_window and move_column_left/right IPC functions
  src/wlrenv/niri/ipc.py
  tests/niri/test_ipc.py
Due: none

feat(niri): add order_storage module for workspace column ordering
  src/wlrenv/niri/order_storage.py
  tests/niri/test_order_storage.py
Due: none

feat(niri): add get_predecessors function for ordering
  src/wlrenv/niri/ordering.py
  tests/niri/test_ordering.py
Due: none

feat(niri): add find_rightmost_predecessor with spacer support
  src/wlrenv/niri/ordering.py
  tests/niri/test_ordering.py
Due: none

feat(niri): add calculate_target_column function
  src/wlrenv/niri/ordering.py
  tests/niri/test_ordering.py
Due: none

feat(niri): add move_to_column function
  src/wlrenv/niri/ordering.py
  tests/niri/test_ordering.py
Due: none

feat(niri): add place_window orchestration function
  src/wlrenv/niri/ordering.py
  tests/niri/test_ordering.py
Due: none

feat(niri): integrate column order tracking into terminal tracker
  src/wlrenv/niri/track.py
  tests/niri/test_track.py
Due: none

feat(niri): integrate column ordering into terminal restore
  src/wlrenv/niri/restore.py
  tests/niri/test_restore.py
Due: none

feat(niri): integrate column ordering into librewolf tracking/restore
  src/wlrenv/niri/librewolf_host.py
  tests/niri/test_librewolf_host.py
Due: none

fix(niri): re-query column after configure in librewolf restore
  src/wlrenv/niri/librewolf_host.py
  tests/niri/test_librewolf_host.py
Due: none

feat: hyfetch available globally
  pyproject.toml
Due: none

feat(ssh): run tmux resurrect fix before launching tmux
  bin/ssh/moshen
  bin/ssh/sshen
Due: none
