Repository wlritchi/env: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, nixfmt

yamllint:
  name: yamllint
  entry: uv run yamllint
  language: system
  require_serial: true

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  require_serial: true

feat: switch from colordiff to delta
  bin/meta/wlr-sync-dotfiles
  machines/common.nix
  recommended-binaries.list
Due: nixfmt

feat(lua): add stylua formatter
  .pre-commit-config.yaml
  .stylua.toml
  dotfiles/.config/mpv/scripts/randjump.lua
  dotfiles/.config/mpv/scripts/streamcache.lua
  dotfiles/.config/nvim/init.lua
  dotfiles/.config/nvim/lua/plugins/colorscheme.lua
  dotfiles/.config/nvim/lua/plugins/completion.lua
  dotfiles/.config/nvim/lua/plugins/lsp.lua
  dotfiles/.config/nvim/lua/plugins/nvim-tree.lua
  dotfiles/.config/nvim/lua/plugins/oil.lua
  dotfiles/.config/nvim/lua/plugins/telescope.lua
  dotfiles/.config/nvim/lua/plugins/treesitter.lua
  machines/common.nix
Due: yamllint, nixfmt

chore: clean up unused env var, shim code
  bin/util/wlr-helper-source
  bin/util/wlr-helpers
  env.bash
Due: none

feat(aliases): add gds: git diff --staged
  bin/aliases/gds
Due: none

fix(nix): nix-installed binaries take precedence
  env.bash
Due: none

chore(nvim): update lsp config syntax
  dotfiles/.config/nvim/lua/plugins/lsp.lua
Due: none

fix(xonsh): xontrib loading
  pyproject.toml
  uv.lock
  xonshrc.py
Due: none

chore(xonsh): upgrade deps
  uv.lock
Due: none

feat(nvim): version-control lazy lock
  dotfiles/.config/nvim/lazy-lock.json
Due: none

fix(hooks): continue if tmux not detected
  hooks/post-upgrade
Due: none

chore(mac): update aerospace config for nix
  dotfiles/.aerospace.toml
Due: none

feat(mac): add ollama pin
  machines/darwin.nix
Due: nixfmt

feat: hyfetch and onefetch
  dotfiles/.config/hyfetch.json
  machines/common.nix
  pyproject.toml
  uv.lock
Due: nixfmt

fix(mac): make sure /usr/local/bin is on aerospace path
  dotfiles/.aerospace.toml
Due: none

feat: nix-managed systemd/launchd services
  bin/git/git-sync
  bin/tmux/wlr-tmux-pane-backup
  dotfiles/.config/systemd/user/git-sync.service
  dotfiles/.config/systemd/user/git-sync.timer
  dotfiles/.config/systemd/user/rclone-copy.service
  dotfiles/.config/systemd/user/rclone-copy.timer
  dotfiles/.config/systemd/user/tmux-pane-backup.service
  dotfiles/.config/systemd/user/tmux-pane-backup.timer
  dotfiles/.config/systemd/user/wlr-tmux-niri-tracker.service
  dotfiles/.config/systemd/user/wlr-tmux-niri-tracker.timer
  machines/common.nix
  machines/darwin.nix
  machines/launchd-services.nix
  machines/linux.nix
  machines/systemd-services.nix
Due: nixfmt

chore(bootstrap): clean up env check that can be handled by nix
  CLAUDE.md
  bin/meta/wlr-check-env
  bin/meta/wlr-check-update
  env.bash
  hooks/post-upgrade
  machines/common.nix
  machines/darwin.nix
  recommended-binaries.list
Due: nixfmt

feat(k9s): manage krew+plugins via nix
  env.bash
  flake.lock
  flake.nix
  machines/common.nix
Due: nixfmt

feat(core): util to update lockfiles
  bin/meta/wlr-update-locks
Due: none

chore: update deps
  flake.lock
  uv.lock
Due: none

feat(k9s): switch to krew2nix for declarative plugin versioning
  flake.lock
  flake.nix
  machines/common.nix
Due: nixfmt

feat(core): quieter start
  env.bash
Due: none

feat(utils): rust util build step
  bin/meta/wlr-build-rust-utils
  hooks/post-upgrade
  rust-utils/README.md
Due: none

feat(niri/spacer): initial commit
  .pre-commit-config.yaml
  .yamllint.yml
  bin/cargo-pre-commit-wrapper.sh
  rust-utils/.gitignore
  rust-utils/niri-spacer/.github/workflows/ci.yml
  rust-utils/niri-spacer/Cargo.lock
  rust-utils/niri-spacer/Cargo.toml
  rust-utils/niri-spacer/DEVELOPMENT.md
  rust-utils/niri-spacer/benches/window_creation.rs
  rust-utils/niri-spacer/clippy.toml
  rust-utils/niri-spacer/deny.toml
  rust-utils/niri-spacer/deny.toml.backup
  rust-utils/niri-spacer/lcov.info
  rust-utils/niri-spacer/rustfmt.toml
  rust-utils/niri-spacer/src/error.rs
  rust-utils/niri-spacer/src/lib.rs
  rust-utils/niri-spacer/src/main.rs
  rust-utils/niri-spacer/src/niri.rs
  rust-utils/niri-spacer/src/session.rs
  rust-utils/niri-spacer/src/window.rs
  rust-utils/niri-spacer/src/workspace.rs
  rust-utils/niri-spacer/tests/cli_tests.rs
  rust-utils/niri-spacer/tests/integration_tests.rs
  rust-utils/niri-spacer/tests/property_tests.rs
Due: yamllint

feat(niri/spacer): add native window support
  rust-utils/niri-spacer/Cargo.lock
  rust-utils/niri-spacer/Cargo.toml
  rust-utils/niri-spacer/deny.toml
  rust-utils/niri-spacer/deny.toml.backup
  rust-utils/niri-spacer/src/error.rs
  rust-utils/niri-spacer/src/lib.rs
  rust-utils/niri-spacer/src/main.rs
  rust-utils/niri-spacer/src/native/mod.rs
  rust-utils/niri-spacer/src/native/surface.rs
  rust-utils/niri-spacer/src/native/wayland.rs
  rust-utils/niri-spacer/src/native/window.rs
  rust-utils/niri-spacer/src/niri.rs
  rust-utils/niri-spacer/src/session.rs
  rust-utils/niri-spacer/src/window.rs
Due: none

feat(niri/spacer): persistent by default
  rust-utils/niri-spacer/Cargo.lock
  rust-utils/niri-spacer/Cargo.toml
  rust-utils/niri-spacer/src/error.rs
  rust-utils/niri-spacer/src/lib.rs
  rust-utils/niri-spacer/src/main.rs
  rust-utils/niri-spacer/src/signal.rs
Due: none

fix(niri/spacer): placement logic
  rust-utils/niri-spacer/src/lib.rs
  rust-utils/niri-spacer/src/native/mod.rs
  rust-utils/niri-spacer/src/native/window.rs
  rust-utils/niri-spacer/src/niri.rs
  rust-utils/niri-spacer/src/window.rs
  rust-utils/niri-spacer/src/workspace.rs
Due: none

feat(niri/spacer): update sizing
  rust-utils/niri-spacer/src/native/surface.rs
  rust-utils/niri-spacer/src/native/wayland.rs
Due: none

fix(niri/spacer): reject focus on window
  rust-utils/niri-spacer/src/lib.rs
  rust-utils/niri-spacer/src/main.rs
  rust-utils/niri-spacer/src/native/surface.rs
  rust-utils/niri-spacer/src/native/wayland.rs
  rust-utils/niri-spacer/src/native/window.rs
  rust-utils/niri-spacer/src/niri.rs
Due: none

fix(niri/spacer): hack to reset window positions
  rust-utils/niri-spacer/src/native/window.rs
  rust-utils/niri-spacer/src/niri.rs
Due: none

fix(niri/spacer): more robust hack for window positions
  rust-utils/niri-spacer/src/native/window.rs
  rust-utils/niri-spacer/src/niri.rs
Due: none

feat(niri/spacer): more robust setup
  rust-utils/niri-spacer/src/native/window.rs
  rust-utils/niri-spacer/src/niri.rs
Due: none

feat(niri/spacer): add immediate repositioning on spacer focus
  rust-utils/niri-spacer/src/lib.rs
Due: none

chore(niri/spacer): clean up old periodic validation
  rust-utils/niri-spacer/src/lib.rs
  rust-utils/niri-spacer/src/main.rs
Due: none

chore(niri/spacer): clean up rustfmt config
  rust-utils/niri-spacer/rustfmt.toml
Due: none

chore: allow rg to search dotfiles
  .ignore
Due: none

chore: update CLAUDE.md with nix, rust info
  CLAUDE.md
Due: none

chore: update niri-spacer location
  dotfiles/.config/niri/config.kdl
Due: none

chore: update deps
  flake.lock
Due: none

feat(dotfiles): verify patches in pre-commit
  .pre-commit-config.yaml
  bin/meta/wlr-verify-patches
Due: yamllint

fix(pre-commit): don't change whitespace in patch files
  .pre-commit-config.yaml
Due: yamllint

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  nixfmt: any of: \.nix$
