Repository wlritchi/env: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, cargo-build, verify-patches, yamllint, nixfmt, stylua

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, post-checkout]
default_stages: [pre-commit, pre-push, manual]
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.30
    hooks:
      - id: uv-lock
        require_serial: true

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [fmt]

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [clippy, --all-targets, --all-features, --, -D, warnings]

      - id: cargo-test
        name: cargo test
        description: Run Rust tests
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [test]

      - id: cargo-audit
        name: cargo audit
        description: Check for security vulnerabilities
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        files: ^rust-utils/.*/Cargo\.(toml|lock)$
        pass_filenames: false
        args: [audit]

      - id: cargo-deny
        name: cargo deny
        description: Check licenses and banned dependencies
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        args: [deny, check]
        files: ^rust-utils/.*/(Cargo\.(toml|lock)|deny\.toml)$
        pass_filenames: false

      - id: cargo-build
        name: cargo build
        description: Build the project
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [build]

      # Dotfile patch verification
      - id: verify-patches
        name: verify patches
        description: Verify that all dotfile patches apply successfully
        entry: bin/meta/wlr-verify-patches
        language: system
        files: ^(patches/.*\.patch|dotfiles/.*)$
        pass_filenames: false

      # Python/Nix/Lua hooks
      - id: yamllint
        name: yamllint
        entry: uv run yamllint
        language: system
        types_or: [yaml]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff
        name: ruff
        entry: uv run ruff check --fix --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true
        fail_fast: true

      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        files: \.nix$
        require_serial: true

      - id: stylua
        name: stylua
        entry: stylua
        language: system
        files: \.lua$
        require_serial: true

  - repo: https://github.com/wlritchi/pre-commit-via-uv
    rev: 1.0.0
    hooks:
      # disabled until python utils are rewritten as proper modules
      # - id: mypy-all-files
      - id: pyright-all-files

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: mixed-line-ending

ci:
  autoupdate_schedule: monthly
  skip: [cargo-audit, cargo-deny]  # Skip these in CI as they're covered by GitHub Actions

fix(ccpatch): read H.message in compact_session result mapping
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

fix(ccpatch): consume compact_session flag before xXf source=="auto" skip
  pyproject.toml
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

fix(ccpatch): add renderToolUseMessage() to compact_session tool
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

test(ccpatch): runtime shape-completeness guard for compact_session tool
  tests/ccpatch/test_elf_integration.py
Due: none

config(claude): back to fable/medium
  dotfiles/.claude/settings.json
Due: verify-patches

config(linearmouse): add settings for usb switch
  dotfiles/.config/linearmouse/linearmouse.json
Due: verify-patches

fix(linearmouse): fine, you can match by name
  dotfiles/.config/linearmouse/linearmouse.json
Due: verify-patches

config(claude): flag internal/runtime details in comment-discipline agent
  dotfiles/.claude/agents/comment-discipline.md
Due: verify-patches

config(niri): move experimental multi-layout keyboard setup to amygdalin patch
  patches/host/amygdalin/.config/niri/config.kdl.patch
Due: verify-patches

config(niri): neon outputs XZ242Q@0,0 + LG UltraFine, drop wlr layout
  patches/host/neon/.config/niri/config.kdl.patch
Due: verify-patches

config(darwin): install displayplacer via brew
  machines/darwin-system.nix
Due: nixfmt

config(darwin): enable librewolf from nixpkgs 25.05
  flake.lock
  flake.nix
  machines/darwin.nix
Due: nixfmt

config(nix): bump nixpkgs, home-manager, nix-darwin to 26.05
  bin/meta/wlr-nix-rebuild
  flake.lock
  flake.nix
  machines/darwin.nix
Due: nixfmt

config(nix): run home-manager/darwin-rebuild from flake.lock pins
  bin/meta/wlr-nix-rebuild
  flake.nix
Due: nixfmt

config(aerospace): drop old monitor assignments
  dotfiles/.aerospace.toml
Due: verify-patches

chore(deps): bump deps
  flake.lock
  rust-utils/niri-spacer/Cargo.lock
  uv.lock
Due: cargo-audit, cargo-deny

config(librewolf): declarative profile, extensions, and UI layout
  machines/darwin.nix
  machines/librewolf.nix
Due: nixfmt

config(librewolf): coexist with workspace tracker; add profile adoption script
  bin/librewolf/wlr-librewolf-adopt-profile
  machines/librewolf-extension.nix
  machines/librewolf.nix
Due: nixfmt

config(librewolf): clear macOS window controls in tabless layout
  machines/librewolf.nix
Due: nixfmt

config(librewolf): force-install browserpass extension
  machines/librewolf.nix
Due: nixfmt

config(librewolf): declare full extension roster with toolbar layout
  machines/librewolf.nix
Due: nixfmt

config(librewolf): install Kagi extension, default to Kagi search
  machines/librewolf.nix
Due: nixfmt

config(claude): default to auto mode
  dotfiles/.claude/settings.json
Due: verify-patches

feat(verify-patches): verify private overlay patches with sync-dotfiles layering
  bin/meta/wlr-verify-patches
Due: none

docs(claude): tweak ruff guidance
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

fix(nix): use mold-unwrapped to stop shadowing Arch's locale tools
  machines/linux.nix
Due: nixfmt

feat(meta): add wlr-repair-glibc-locale
  bin/meta/wlr-repair-glibc-locale
Due: none

feat(hooks): auto-repair glibc locale mutation on upgrade from old commits
  bin/meta/wlr-check-update
  bin/meta/wlr-repair-glibc-locale
  hooks/post-upgrade
Due: none

feat(claude): always allow notifications MCP plugin tools
  dotfiles/.claude/settings.json
Due: verify-patches

feat(mvx): treat trailing zero bytes as incomplete writes in -t mode
  bin/util/mvx
Due: none

feat(mvx): port mvx from bash to Python with tests
  bin/util/mvx
  pyproject.toml
  src/wlrenv/mvx.py
  tests/test_mvx.py
Due: none

chore(util): remove mveq-legacy, superseded by mvx
  bin/util/mveq-legacy
Due: none

feat(claude): flag orphaned enumeration references in comment-discipline agent
  dotfiles/.claude/agents/comment-discipline.md
Due: verify-patches

feat(rgshim): strip grep-style -r from rg invocations in Claude Code
  env.bash
  pyproject.toml
  src/wlrenv/rgshim.py
  tests/test_rgshim.py
Due: none

docs(xonshrc): note why rg-shim isn't aliased in xonsh
  xonshrc.py
Due: none

feat(claude): flag flowery/metaphorical language in comment-discipline agent
  dotfiles/.claude/CLAUDE.md
  dotfiles/.claude/agents/comment-discipline.md
Due: verify-patches

feat(k9s): add Shift-A plugin to run claude agents in pod/deploy
  dotfiles/.config/k9s/plugins.yaml
Due: verify-patches, yamllint

fix(k9s): merge Shift-A plugin entries, k9s rejects duplicate shortcuts
  dotfiles/.config/k9s/plugins.yaml
Due: verify-patches, yamllint

fix(k9s): set override on Shift-A plugin to displace builtin sort-by-age
  dotfiles/.config/k9s/plugins.yaml
Due: verify-patches, yamllint

feat(mvx): dedupe broken symlink sources under -n
  src/wlrenv/mvx.py
  tests/test_mvx.py
Due: none
