Repository wlritchi/env: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, cargo-build, verify-patches, yamllint, nixfmt, stylua

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, post-checkout]
default_stages: [pre-commit, pre-push, manual]
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.30
    hooks:
      - id: uv-lock
        require_serial: true

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [fmt]

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [clippy, --all-targets, --all-features, --, -D, warnings]

      - id: cargo-test
        name: cargo test
        description: Run Rust tests
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [test]

      - id: cargo-audit
        name: cargo audit
        description: Check for security vulnerabilities
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        files: ^rust-utils/.*/Cargo\.(toml|lock)$
        pass_filenames: false
        args: [audit]

      - id: cargo-deny
        name: cargo deny
        description: Check licenses and banned dependencies
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        args: [deny, check]
        files: ^rust-utils/.*/(Cargo\.(toml|lock)|deny\.toml)$
        pass_filenames: false

      - id: cargo-build
        name: cargo build
        description: Build the project
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [build]

      # Dotfile patch verification
      - id: verify-patches
        name: verify patches
        description: Verify that all dotfile patches apply successfully
        entry: bin/meta/wlr-verify-patches
        language: system
        files: ^(patches/.*\.patch|dotfiles/.*)$
        pass_filenames: false

      # Python/Nix/Lua hooks
      - id: yamllint
        name: yamllint
        entry: uv run yamllint
        language: system
        types_or: [yaml]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff
        name: ruff
        entry: uv run ruff check --fix --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true
        fail_fast: true

      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        files: \.nix$
        require_serial: true

      - id: stylua
        name: stylua
        entry: stylua
        language: system
        files: \.lua$
        require_serial: true

  - repo: https://github.com/wlritchi/pre-commit-via-uv
    rev: 1.0.0
    hooks:
      # disabled until python utils are rewritten as proper modules
      # - id: mypy-all-files
      - id: pyright-all-files

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: mixed-line-ending

ci:
  autoupdate_schedule: monthly
  skip: [cargo-audit, cargo-deny]  # Skip these in CI as they're covered by GitHub Actions

fix(claude): bump to 2.1.92
  bin/shims/claude
Due: none

fix(claude): auto-reinstall when version mismatches target
  bin/shims/claude
Due: none

config(claude): update code quality guidance
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

config(claude): remove slack plugin, switch to official superpowers
  dotfiles/.claude/settings.json
Due: verify-patches

feat(claude): add --version flag and per-version install dirs
  bin/shims/claude
Due: none

config(mosh): expire sessions after 7 days of radio silence
  env
Due: none

chore(claude): update to opus 4.7
  dotfiles/.claude/settings.json
Due: verify-patches

config(claude): update instructions for 4.7
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

chore(claude): bump to 2.1.112 for opus 4.7 compat
  bin/shims/claude
Due: none

fix(claude): remove top-level Opus 4.7 hardcode
  dotfiles/.claude/settings.json
Due: verify-patches

config(claude): enable summarized thinking display
  bin/shims/claude
  dotfiles/.claude/settings.json
Due: verify-patches

fix(eza): fall back to ls under Claude Code
  bin/shims/lsx
Due: none

refactor(claude): rewrite shim in Python with optional cli.js patcher
  bin/shims/claude
Due: none

nix(bun): pin to 1.3.13 via overlay until nixpkgs#508770 lands
  flake.nix
Due: nixfmt

fix(claude): support 2.1.113+ native-binary packaging
  bin/shims/claude
Due: none

feat(claude): add native-binary patcher for 2.1.113+
  bin/shims/claude
Due: none

fix(ghostty): rebind cmd+a to Ctrl-A byte for tmux prefix on macOS
  dotfiles/.config/ghostty/config
Due: verify-patches

fix(claude): split text patcher so pre-2.1.108 versions still apply
  bin/shims/claude
Due: none

config(claude): update 4.7 instruction following guidance
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

fix(claude): dispatch shim through uv run for Python 3.12+
  bin/shims/claude
Due: none

config(claude): reinforce proactive commits for 4.7
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

fix(cd): use pushd -- to handle directory names starting with -
  env.bash
  xonshrc.py
Due: none

config(claude): try even harder to make opus 4.7 commit
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

chore(claude): drop old plugin config
  dotfiles/.claude/settings.json
Due: verify-patches

config(claude): linux kernel attribution style
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

fix(nix): prefer SUDO_USER for impure username resolution
  flake.nix
Due: nixfmt

feat(macos): prefer Secretive ssh agent over homebrew
  env.bash
Due: none

config(macos): key repeat
  machines/darwin-system.nix
Due: nixfmt

config(macos): scroll direction
  machines/darwin-system.nix
Due: nixfmt

config(macos): disable conflicting keybinds
  machines/darwin-system.nix
Due: nixfmt

chore(pre-commit): strip trailing newline from linearmouse.json
  .pre-commit-config.yaml
Due: yamllint

config(macos/mouse): settings for logitech mx master 3s over bluetooth
  dotfiles/.config/linearmouse/linearmouse.json
Due: verify-patches

feat(nix-rebuild): override wlrenv input when building from private overlay
  bin/meta/wlr-nix-rebuild
Due: none

fix(qmk-flash): use ioreg instead of system_profiler on macOS
  bin/util/wlr-qmk-flash
Due: none

chore(flake): update lock to pull age 1.3.1 from nixpkgs 25.11
  flake.lock
Due: none

config(macos/dock): right-side, smallest, autohide with 3s delay
  machines/darwin-system.nix
Due: nixfmt

config(aerospace): launch Ghostty via bundled binary instead of open(1)
  dotfiles/.aerospace.toml
Due: verify-patches

feat(nix): add yq-go to common packages
  machines/common.nix
Due: nixfmt

feat(sync-dotfiles): support host- and uname-scoped base dotfiles
  bin/meta/wlr-sync-dotfiles
Due: none

config(hyfetch): expose config at macOS Application Support path
  dotfiles/uname/Darwin/Library/Application Support/hyfetch.json
Due: verify-patches
