Repository wlritchi/env: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, cargo-build, verify-patches, yamllint, nixfmt, stylua

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - fmt

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - clippy
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-test:
  name: cargo test
  description: Run Rust tests
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - test

cargo-audit:
  name: cargo audit
  description: Check for security vulnerabilities
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - audit

cargo-deny:
  name: cargo deny
  description: Check licenses and banned dependencies
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  args:
  - deny
  - check
  pass_filenames: false

cargo-build:
  name: cargo build
  description: Build the project
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - build

verify-patches:
  name: verify patches
  description: Verify that all dotfile patches apply successfully
  entry: bin/meta/wlr-verify-patches
  language: system
  pass_filenames: false

yamllint:
  name: yamllint
  entry: uv run yamllint
  language: system
  require_serial: true

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  require_serial: true

stylua:
  name: stylua
  entry: stylua
  language: system
  require_serial: true

chore(nix): update to release 25.11
  bin/meta/wlr-nix-rebuild
  flake.lock
  flake.nix
  machines/darwin.nix
  machines/linux.nix
Due: nixfmt

refactor(nix): make krew plugins extensible, move linux-only packages
  machines/common.nix
  machines/linux.nix
Due: nixfmt

fix(nix): replace deprecated pkgs.system with stdenv.hostPlatform.system
  machines/common.nix
  machines/darwin.nix
Due: nixfmt

fix(darwin): remove rclone-copy launchd agent
  machines/launchd-services.nix
Due: nixfmt

chore(darwin): update acli pin to merged nixpkgs commit
  machines/darwin.nix
Due: nixfmt

feat(nix): add uv to common packages
  machines/common.nix
Due: nixfmt

config(niri): never open windows maximized
  dotfiles/.config/niri/config.kdl
Due: verify-patches

fix(niri-spacer): comply with XDG shell protocol for window mapping
  rust-utils/niri-spacer/src/native/wayland.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-build

fix(niri-spacer): set explicit size hints for minimal window width
  rust-utils/niri-spacer/src/native/wayland.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-build

feat(nvim): use Telescope for LSP references
  dotfiles/.config/nvim/lua/plugins/lsp.lua
Due: verify-patches, stylua

feat(nvim): add gopls to LSP configuration
  dotfiles/.config/nvim/lua/plugins/lsp.lua
Due: verify-patches, stylua

feat(nvim): add treesitter-textobjects for code-aware text objects
  dotfiles/.config/nvim/lazy-lock.json
  dotfiles/.config/nvim/lua/plugins/treesitter.lua
Due: verify-patches, stylua

feat(nvim): add gitsigns.nvim for git integration
  dotfiles/.config/nvim/lazy-lock.json
  dotfiles/.config/nvim/lua/plugins/gitsigns.lua
Due: verify-patches, stylua

chore: move macOS keyboard layout to dotfiles for symlinking
  dotfiles/Library/Keyboard Layouts/podvorak.keylayout
Due: verify-patches

feat(darwin): add karabiner-elements and autokbisw
  machines/darwin.nix
Due: nixfmt

feat(darwin): add Secretive for Secure Enclave SSH key management
  machines/darwin.nix
  machines/pkgs/secretive.nix
Due: nixfmt

feat(darwin): add passage, age, and age-plugin-se
  machines/darwin.nix
Due: nixfmt

refactor(darwin): remove openssh and pinentry_mac packages
  machines/darwin.nix
Due: nixfmt

chore(ssh): remove old config
  dotfiles/.ssh/config
Due: verify-patches

fix(env): require stdin TTY for interactive shell detection
  env.bash
Due: none

feat(darwin): add Secretive SSH agent socket to SSH config
  patches/uname/Darwin/.ssh/config.patch
Due: verify-patches

feat(git): add platform-specific gitconfig includes
  config/git/local.template
  config/git/uname/Darwin
  hooks/post-upgrade
Due: none

feat(darwin): add ghostty-bin package
  machines/darwin.nix
Due: nixfmt

feat(darwin): wrap age with age-plugin-se on PATH
  machines/darwin.nix
  machines/pkgs/age-with-plugins.nix
Due: nixfmt

fix(git): use nix-profile gh for credential helper
  config/git/common
Due: none

feat(darwin): use programs.browserpass with passage support
  machines/darwin.nix
  machines/pkgs/browserpass-native-passage.nix
Due: nixfmt

fix(git): enable delta as pager with catppuccin theme
  config/git/common
  dotfiles/.tmux.conf
Due: verify-patches

feat(aerospace): switch terminal from Alacritty to Ghostty
  dotfiles/.aerospace.toml
Due: verify-patches

fix(aerospace): use $HOME instead of ~ for working directory
  dotfiles/.aerospace.toml
Due: verify-patches

feat(ghostty): add initial config with catppuccin theme
  dotfiles/.config/ghostty/config
Due: verify-patches

feat(darwin): add Fira Code fonts
  machines/darwin.nix
Due: nixfmt

fix(darwin): copy keyboard layout instead of symlinking
  keyboard/podvorak.keylayout
  machines/darwin.nix
Due: nixfmt

fix(eza): add lsx shim to work around stdin regression
  bin/shims/lsx
  env.bash
  xonshrc.py
Due: none

refactor(nix): use programs.gh with gh-poi extension
  machines/common.nix
Due: nixfmt

feat(nix): add git, gnupg, and ncdu to common packages
  machines/common.nix
Due: nixfmt

fix(darwin): remove aerospace ghost window cleanup agent
  machines/launchd-services.nix
Due: nixfmt

chore: remove outdated git-sync availability comments
  machines/launchd-services.nix
  machines/systemd-services.nix
Due: nixfmt

fix(nvim): restore default Escape behavior in blink.cmp
  dotfiles/.config/nvim/lua/plugins/completion.lua
Due: verify-patches, stylua

feat(aerospace): add autokbisw to after-startup-command
  dotfiles/.aerospace.toml
Due: verify-patches

fix(ghostty): update config settings
  dotfiles/.config/ghostty/config
Due: verify-patches

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-audit: any of: ^rust-utils/.*/Cargo\.(toml|lock)$
  cargo-deny: any of: ^rust-utils/.*/(Cargo\.(toml|lock)|deny\.toml)$
  cargo-build: any of: \.rs$
  verify-patches: any of: ^(patches/.*\.patch|dotfiles/.*)$
  yamllint: any of: \.(yaml|yml)$
  nixfmt: any of: \.nix$
  stylua: any of: \.lua$
