Repository wlritchi/env: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, cargo-build, verify-patches, yamllint, nixfmt, stylua

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - fmt

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - clippy
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-test:
  name: cargo test
  description: Run Rust tests
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - test

cargo-audit:
  name: cargo audit
  description: Check for security vulnerabilities
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - audit

cargo-deny:
  name: cargo deny
  description: Check licenses and banned dependencies
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  args:
  - deny
  - check
  pass_filenames: false

cargo-build:
  name: cargo build
  description: Build the project
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - build

verify-patches:
  name: verify patches
  description: Verify that all dotfile patches apply successfully
  entry: bin/meta/wlr-verify-patches
  language: system
  pass_filenames: false

yamllint:
  name: yamllint
  entry: uv run yamllint
  language: system
  require_serial: true

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  require_serial: true

stylua:
  name: stylua
  entry: stylua
  language: system
  require_serial: true

chore(niri): tweak config for neon
  patches/host/neon/.config/niri/config.kdl.patch
Due: verify-patches

fix(nix): more portable hostname check
  bin/meta/wlr-nix-rebuild
Due: none

chore(update): move dotfile sync into hooks/post-upgrade
  bin/meta/wlr-check-update
  hooks/post-upgrade
Due: none

feat(update): only run hooks if actually updated
  bin/meta/wlr-check-update
Due: none

chore(nix): add packages
  machines/common.nix
  machines/darwin.nix
Due: nixfmt

fix(bash): don't replace cd inside claude code
  env.bash
Due: none

feat(niri): track librewolf window workspace ids
  LIBREWOLF_NIRI_WORKSPACE_TRACKING.md
  bin/wayland/wlr-librewolf-restore-workspaces
  bin/wayland/wlr-librewolf-track-workspaces
  bin/wayland/wlr-niri-common.bash
  machines/systemd-services.nix
Due: nixfmt

fix(fnm): use on start, cope with claude weirdness
  env.bash
Due: none

feat(niri): librewolf extension to track+restore window workspaces
  .gitignore
  bin/wayland/wlr-librewolf-native-host
  bin/wayland/wlr-librewolf-native-host-test
  bin/wayland/wlr-librewolf-restore-workspaces
  bin/wayland/wlr-librewolf-track-workspaces
  machines/librewolf-extension.nix
  machines/linux.nix
  machines/systemd-services.nix
  src/librewolf-workspace-tracker/README.md
  src/librewolf-workspace-tracker/background.js
  src/librewolf-workspace-tracker/icons/icon-48.png
  src/librewolf-workspace-tracker/icons/icon-96.png
  src/librewolf-workspace-tracker/manifest.json
  src/librewolf-workspace-tracker/native-messaging.js
  src/librewolf-workspace-tracker/restoration.js
Due: nixfmt

fix(niri/spacer): build deps
  CLAUDE.md
  hooks/post-upgrade
  machines/common.nix
  machines/pkgs/niri-spacer.nix
  rust-utils/README.md
  rust-utils/niri-spacer/README.md
Due: nixfmt

feat(niri/spacer): try to restore focused workspace
  rust-utils/niri-spacer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-build

fix(niri/spacer): runtime deps
  machines/pkgs/niri-spacer.nix
Due: nixfmt

fix(env): cd for claude
  env.bash
Due: none

feat(niri/spacer): less workspace changes on start
  rust-utils/niri-spacer/src/native/window.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-build

chore(xmonad): no need for k9s wrapper when launched direct
  dotfiles/.xmonad/xmonad.hs
Due: verify-patches

feat(mac/aerospace): workaround for ghost windows
  machines/launchd-services.nix
Due: nixfmt

fix(build): move niri-spacer to linux-only
  machines/common.nix
  machines/linux.nix
Due: nixfmt

fix(mac): docker-buildx symlink for legacy workflows
  machines/darwin.nix
Due: nixfmt

fix(env): take remaining helper out of scope
  env.bash
Due: none

chore(mac/aerospace): more logging for workaround
  machines/launchd-services.nix
Due: nixfmt

perf(build): add mold, sccache, and Nix parallelism for faster builds
  machines/common.nix
  machines/pkgs/niri-spacer.nix
  rust-utils/niri-spacer/.cargo/config.toml
  rust-utils/niri-spacer/Cargo.toml
Due: cargo-audit, cargo-deny, nixfmt

fix(build): add mold and clang to niri-spacer build environment
  machines/pkgs/niri-spacer.nix
Due: nixfmt

fix(niri/spacer): skip cargo-based integration tests in Nix builds
  machines/pkgs/niri-spacer.nix
Due: nixfmt

fix(nix): improve host detection in wlr-nix-rebuild
  bin/meta/wlr-nix-rebuild
Due: none

fix(mac): mold linker unsupported, just use system ld there
  machines/common.nix
  machines/linux.nix
Due: nixfmt

feat(env): pin python minor version for xonsh
  env.bash
Due: none

chore(env): bump deps, py3.14 compat (tiktoken)
  pyproject.toml
  uv.lock
Due: none

chore(env): migrate from tool.uv.dev-dependencies to dependency-groups
  pyproject.toml
Due: none

docs: add gitconfig setup design
  .gitmodules
  docs/plans/2025-11-21-gitconfig-design.md
Due: none

feat(waybar): ccusage widget
  dotfiles/.config/waybar/ccusage.sh
  dotfiles/.config/waybar/config.jsonc
  machines/common.nix
Due: verify-patches, nixfmt

feat(git): add common gitconfig with include-based overrides
  config/git/common
  config/git/hosts/luc.ritchie
  config/git/local.template
  hooks/post-upgrade
Due: none

fix(waybar): show $0.00 daily when no data for today
  dotfiles/.config/waybar/ccusage.sh
Due: verify-patches

feat(ssh): add prompt before restoring mosh sessions
  bin/ssh/wlr-restore-moshen-sessions
Due: none

feat(tmux-niri): add window width tracking and restoration
  TMUX_NIRI_WORKSPACE_TRACKING.md
  bin/tmux/wlr-open-tmux-sessions
  bin/tmux/wlr-tmux-niri-tracker
  bin/tmux/wlr-tmux-resurrect-restore-workspaces
  bin/tmux/wlr-tmux-resurrect-save-workspaces
  bin/wayland/wlr-niri-configure-window
  bin/wayland/wlr-niri-move-window-to-workspace
  dotfiles/.ssh/config
Due: verify-patches

feat(nix): add git-lfs to common packages
  CLAUDE.md
  machines/common.nix
Due: nixfmt

fix(waybar): fetch online pricing for ccusage
  dotfiles/.config/waybar/ccusage.sh
Due: verify-patches

docs: add unified niri window tracking design
  docs/plans/2025-11-29-unified-niri-window-tracking-design.md
Due: none

docs: add implementation plan for unified niri window tracking
  docs/plans/2025-11-29-unified-niri-window-tracking-impl.md
Due: none

feat(niri): add module structure and config
  .gitignore
  src/wlrenv/niri/__init__.py
  src/wlrenv/niri/config.py
  tests/niri/__init__.py
  tests/niri/test_config.py
Due: none

feat(niri): add storage layer with atomic writes
  src/wlrenv/niri/storage.py
  tests/niri/test_storage.py
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-audit: any of: ^rust-utils/.*/Cargo\.(toml|lock)$
  cargo-deny: any of: ^rust-utils/.*/(Cargo\.(toml|lock)|deny\.toml)$
  cargo-build: any of: \.rs$
  verify-patches: any of: ^(patches/.*\.patch|dotfiles/.*)$
  yamllint: any of: \.(yaml|yml)$
  nixfmt: any of: \.nix$
  stylua: any of: \.lua$
