Repository wlritchi/env: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, cargo-build, verify-patches, yamllint, nixfmt, stylua

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, post-checkout]
default_stages: [pre-commit, pre-push, manual]
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.30
    hooks:
      - id: uv-lock
        require_serial: true

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [fmt]

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [clippy, --all-targets, --all-features, --, -D, warnings]

      - id: cargo-test
        name: cargo test
        description: Run Rust tests
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [test]

      - id: cargo-audit
        name: cargo audit
        description: Check for security vulnerabilities
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        files: ^rust-utils/.*/Cargo\.(toml|lock)$
        pass_filenames: false
        args: [audit]

      - id: cargo-deny
        name: cargo deny
        description: Check licenses and banned dependencies
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        args: [deny, check]
        files: ^rust-utils/.*/(Cargo\.(toml|lock)|deny\.toml)$
        pass_filenames: false

      - id: cargo-build
        name: cargo build
        description: Build the project
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [build]

      # Dotfile patch verification
      - id: verify-patches
        name: verify patches
        description: Verify that all dotfile patches apply successfully
        entry: bin/meta/wlr-verify-patches
        language: system
        files: ^(patches/.*\.patch|dotfiles/.*)$
        pass_filenames: false

      # Python/Nix/Lua hooks
      - id: yamllint
        name: yamllint
        entry: uv run yamllint
        language: system
        types_or: [yaml]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff
        name: ruff
        entry: uv run ruff check --fix --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true
        fail_fast: true

      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        files: \.nix$
        require_serial: true

      - id: stylua
        name: stylua
        entry: stylua
        language: system
        files: \.lua$
        require_serial: true

  - repo: https://github.com/wlritchi/pre-commit-via-uv
    rev: 1.0.0
    hooks:
      # disabled until python utils are rewritten as proper modules
      # - id: mypy-all-files
      - id: pyright-all-files

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: mixed-line-ending

ci:
  autoupdate_schedule: monthly
  skip: [cargo-audit, cargo-deny]  # Skip these in CI as they're covered by GitHub Actions

docs: add private config and secrets management design
  docs/plans/2024-12-24-private-config-design.md
Due: none

feat(update): run submodule update after merge
  bin/meta/wlr-check-update
Due: none

fix(docs): date on private config design
  docs/plans/2025-12-24-private-config-design.md
Due: none

docs: add window position upsert design
  docs/plans/2025-12-26-window-position-upsert-design.md
Due: none

chore: add .worktrees to gitignore
  .gitignore
Due: none

docs: add window position upsert implementation plan
  docs/plans/2025-12-26-window-position-upsert-impl.md
Due: none

feat(positions): add boot ID management
  src/wlrenv/niri/positions.py
  tests/niri/test_positions.py
Due: none

feat(positions): add load/save with file locking
  src/wlrenv/niri/positions.py
  tests/niri/test_positions.py
Due: none

fix(deps): update pyright minimum to 1.1.407 for Python 3.14 support
  pyproject.toml
  uv.lock
Due: none

feat(positions): add upsert_entries function
  src/wlrenv/niri/positions.py
  tests/niri/test_positions.py
Due: none

feat(positions): add dominance-based boot pruning
  src/wlrenv/niri/positions.py
  tests/niri/test_positions.py
Due: none

feat(positions): add lookup and predecessor resolution
  src/wlrenv/niri/positions.py
  tests/niri/test_positions.py
Due: none

feat(claude): update system prompt for superpowers
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

refactor(track): use positions.py for storage
  src/wlrenv/niri/track.py
  tests/niri/test_track.py
Due: none

refactor(restore): use positions.py for storage and ordering
  src/wlrenv/niri/restore.py
  tests/niri/test_restore.py
Due: none

refactor(librewolf): use positions.py for storage
  src/wlrenv/niri/librewolf_host.py
  tests/niri/test_librewolf_host.py
Due: none

chore: remove deprecated storage and order_storage modules
  src/wlrenv/niri/order_storage.py
  src/wlrenv/niri/ordering.py
  src/wlrenv/niri/storage.py
  tests/niri/test_order_storage.py
  tests/niri/test_ordering.py
  tests/niri/test_storage.py
Due: none

chore(lint): enhance Python linting and add codespell
  .pre-commit-config.yaml
  bin/aliases/gchpod
  bin/aliases/gcmaneod
  bin/aliases/gcmaod
  bin/aliases/gcmaodne
  bin/git/git-cherry-pick-original-dates
  bin/git/git-commit-amend-original-dates
  bin/util/einstein
  bin/util/erase-and-verify-disk
  bin/util/morley
  bin/util/mvx
  bin/util/norman
  bin/vendor/kubectl-nsenter
  dotfiles/.config/hyfetch.json
  dotfiles/.vim/colors/solarized.vim
  env.bash
  flake.nix
  machines/librewolf-extension.nix
  machines/pkgs/niri-spacer.nix
  pyproject.toml
  src/wlrenv/niri/ordering.py
  tests/niri/test_librewolf_host.py
  tests/niri/test_positions.py
  tests/niri/test_track.py
  uv.lock
  xonshrc.py
Due: verify-patches, yamllint, nixfmt

chore(pre-commit): fix linting issues and clean up config
  .pre-commit-config.yaml
  dotfiles/.config/mpv/scripts/randjump.lua
  dotfiles/.config/mpv/scripts/streamcache.lua
Due: verify-patches, yamllint, stylua

refactor(niri): use attrs/cattrs for typed JSON parsing
  pyproject.toml
  src/wlrenv/niri/librewolf.py
  src/wlrenv/niri/librewolf_host.py
  src/wlrenv/niri/positions.py
  src/wlrenv/niri/restore.py
  src/wlrenv/niri/track.py
  tests/niri/test_librewolf.py
  tests/niri/test_librewolf_host.py
  tests/niri/test_positions.py
  tests/niri/test_restore.py
  tests/niri/test_track.py
  uv.lock
Due: none

refactor(lint): improve linter ignore comments
  bin/shims/rsync-shim
  dotfiles/.config/ptpython/config.py
  pyproject.toml
  src/wlrenv/niri/cli.py
  src/wlrenv/retainer.py
  xonshrc.py
Due: verify-patches

chore: replace pre-commit with prek
  .git-hook-template
  install-hooks.sh
  machines/common.nix
  pyproject.toml
  uv.lock
Due: nixfmt

docs: update pre-commit references to prek
  dotfiles/.claude/CLAUDE.md
  rust-utils/niri-spacer/DEVELOPMENT.md
Due: verify-patches

feat(lint): add ty type checker from Astral
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
  xonshrc.py
Due: yamllint

feat(nvim): add ty language server for Python
  dotfiles/.config/nvim/lua/plugins/lsp.lua
Due: verify-patches, stylua

feat(nvim): show diagnostic float on cursor hold
  dotfiles/.config/nvim/lua/plugins/lsp.lua
Due: verify-patches, stylua

chore(deps): update uv-pre-commit to 0.9.18
  .pre-commit-config.yaml
Due: yamllint

chore(deps): bump all deps
  uv.lock
Due: none

fix(niri): track tmux sessions by querying tmux directly
  src/wlrenv/niri/identify.py
  src/wlrenv/niri/track.py
  tests/niri/test_identify.py
  tests/niri/test_track.py
Due: none

feat(nix): add tobi/try for experiment directory management
  env.bash
  flake.lock
  flake.nix
  machines/common.nix
  xonshrc.py
Due: nixfmt

feat(nvim): add auto-save plugin with debouncing
  dotfiles/.config/nvim/lazy-lock.json
  dotfiles/.config/nvim/lua/plugins/auto-save.lua
Due: verify-patches, stylua

docs(claude): update nvim lazy-lock before committing
  CLAUDE.md
Due: none

chore(niri): add restore logging
  src/wlrenv/niri/cli.py
  src/wlrenv/niri/librewolf_host.py
  src/wlrenv/niri/ordering.py
  src/wlrenv/niri/positions.py
  src/wlrenv/niri/restore.py
Due: none

feat(nvim): add terminal keybind with project-aware tmux sessions
  dotfiles/.config/nvim/init.lua
  env.bash
Due: verify-patches, stylua

docs(claude): try to encourage use of prek over pre-commit
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

fix(librewolf): improve window title matching for niri correlation
  machines/librewolf-extension.nix
  src/wlrenv/niri/ipc.py
  src/wlrenv/niri/librewolf_host.py
Due: nixfmt

refactor(librewolf): remove legacy native host and update to Python implementation
  LIBREWOLF_NIRI_WORKSPACE_TRACKING.md
  bin/wayland/wlr-librewolf-native-host
  bin/wayland/wlr-librewolf-native-host-test
  machines/librewolf-extension.nix
  src/librewolf-workspace-tracker/README.md
Due: nixfmt

feat(secwrap): add lazy secrets wrapper for pass/passage
  env.bash
  machines/darwin.nix
  machines/linux.nix
  machines/pkgs/secwrap.nix
  xonshrc.py
Due: nixfmt

feat(darwin): add nix-darwin with nix-homebrew for system config
  CLAUDE.md
  bin/meta/wlr-nix-rebuild
  flake.lock
  flake.nix
  machines/darwin-system.nix
Due: nixfmt

chore(nix): alphabetize flake contents
  flake.nix
Due: nixfmt
