Repository wlritchi/env: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, cargo-build, verify-patches, yamllint, nixfmt, stylua

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, post-checkout]
default_stages: [pre-commit, pre-push, manual]
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.30
    hooks:
      - id: uv-lock
        require_serial: true

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [fmt]

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [clippy, --all-targets, --all-features, --, -D, warnings]

      - id: cargo-test
        name: cargo test
        description: Run Rust tests
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [test]

      - id: cargo-audit
        name: cargo audit
        description: Check for security vulnerabilities
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        files: ^rust-utils/.*/Cargo\.(toml|lock)$
        pass_filenames: false
        args: [audit]

      - id: cargo-deny
        name: cargo deny
        description: Check licenses and banned dependencies
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        args: [deny, check]
        files: ^rust-utils/.*/(Cargo\.(toml|lock)|deny\.toml)$
        pass_filenames: false

      - id: cargo-build
        name: cargo build
        description: Build the project
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [build]

      # Dotfile patch verification
      - id: verify-patches
        name: verify patches
        description: Verify that all dotfile patches apply successfully
        entry: bin/meta/wlr-verify-patches
        language: system
        files: ^(patches/.*\.patch|dotfiles/.*)$
        pass_filenames: false

      # Python/Nix/Lua hooks
      - id: yamllint
        name: yamllint
        entry: uv run yamllint
        language: system
        types_or: [yaml]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff
        name: ruff
        entry: uv run ruff check --fix --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true
        fail_fast: true

      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        files: \.nix$
        require_serial: true

      - id: stylua
        name: stylua
        entry: stylua
        language: system
        files: \.lua$
        require_serial: true

  - repo: https://github.com/wlritchi/pre-commit-via-uv
    rev: 1.0.0
    hooks:
      # disabled until python utils are rewritten as proper modules
      # - id: mypy-all-files
      - id: pyright-all-files

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: mixed-line-ending

ci:
  autoupdate_schedule: monthly
  skip: [cargo-audit, cargo-deny]  # Skip these in CI as they're covered by GitHub Actions

feat(darwin): add linearmouse
  dotfiles/.config/linearmouse/linearmouse.json
  machines/darwin-system.nix
Due: verify-patches, nixfmt

feat(darwin): add SwiftBar with ccusage plugin and Ice menu bar manager
  dotfiles/.config/swiftbar/ccusage.30s.sh
  machines/darwin-system.nix
Due: verify-patches, nixfmt

feat(meta): support private overlay repo (.wlrenv-private)
  bin/meta/wlr-check-update
  bin/meta/wlr-nix-rebuild
Due: none

chore(nix): drop docker from Darwin
  machines/darwin.nix
Due: nixfmt

fix(meta): disable fsmonitor to prevent Nix path: input failures
  hooks/post-upgrade
Due: none

fix(swiftbar): mark ccusage script executable
  dotfiles/.config/swiftbar/ccusage.30s.sh
Due: verify-patches

docs: add private dotfiles overlay design
  docs/plans/2026-01-05-private-dotfiles-design.md
Due: none

feat(dotfiles): support private repo overlay with priority chain
  bin/meta/wlr-sync-dotfiles
Due: none

feat(nvim): add nvim-surround plugin
  dotfiles/.config/nvim/lazy-lock.json
  dotfiles/.config/nvim/lua/plugins/surround.lua
Due: verify-patches, stylua

feat(claude): update system prompt
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

feat(nix): export unfree predicate for private config to extend
  flake.nix
Due: nixfmt

fix(dotfiles): exclude linearmouse.json from end-of-file-fixer
  .pre-commit-config.yaml
  dotfiles/.config/linearmouse/linearmouse.json
Due: verify-patches, yamllint

chore(nix): clean up work packages
  machines/darwin.nix
Due: nixfmt

feat(env): add private repo bin directories to PATH
  env.bash
Due: none

feat(claude): add settings
  dotfiles/.claude/settings.json
Due: verify-patches

docs(claude): update system prompt for implementing plans
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

feat(mac/aerospace): update monitor mapping
  dotfiles/.aerospace.toml
Due: verify-patches

feat(claude): update a2a permissions
  dotfiles/.claude/settings.json
Due: verify-patches

feat(mac/tmux): add mouse mode and middle-click paste
  patches/uname/Darwin/.tmux.conf.patch
Due: verify-patches

feat(nix): pin aerospace to 0.20.2-Beta via overlay
  flake.nix
Due: nixfmt

feat(claude): add plugins
  dotfiles/.claude/settings.json
Due: verify-patches

feat(shell): add -p flag to mkcd for creating parent directories
  env.bash
  xonshrc.py
Due: none

chore(claude): clean up old alias for ralph plugin
  dotfiles/.claude/settings.json
Due: verify-patches

config(claude): allow skills by default
  dotfiles/.claude/settings.json
Due: verify-patches

config(claude): grant access to use ls -la in a2a dirs
  dotfiles/.claude/settings.json
Due: verify-patches

config(claude): allow context7 by default
  dotfiles/.claude/settings.json
Due: verify-patches

feat(git): add global ignore for claude local files
  dotfiles/.config/git/ignore
Due: verify-patches

feat(claude): add OTEL telemetry env vars for metrics export
  dotfiles/.claude/settings.json
Due: verify-patches

fix(claude): OTEL config
  dotfiles/.claude/settings.json
Due: verify-patches

fix(claude): disable unreliable plugins
  dotfiles/.claude/settings.json
Due: verify-patches

fix(claude): disable autoupdate until high-cpu hangs are fixed
  dotfiles/.claude/settings.json
Due: verify-patches

fix(niri): clear shell reentrancy guards in environment
  dotfiles/.config/niri/config.kdl
Due: verify-patches

fix(autorun/amygdalin): wait for DRM devices before starting niri
  autorun/amygdalin
Due: none

feat(flake): export overlays in lib for extension by private flakes
  flake.nix
Due: nixfmt

feat(darwin): disable press-and-hold accent menu for key repeat
  machines/darwin-system.nix
Due: nixfmt

fix(sync-dotfiles): emit errors when patches fail to apply
  bin/meta/wlr-sync-dotfiles
Due: none

chore: clean up old unused pclaude alias
  bin/aliases/pclaude
Due: none

fix(claude): pin to 2.1.23 for fresh installs
  bin/shims/claude
Due: none

feat(aerospace): add layout rotation script for alt-space
  bin/aerospace/wlr-aerospace-rotate-layout
  dotfiles/.aerospace.toml
Due: verify-patches

chore(claude): bump subagent model to Opus 4.6
  dotfiles/.claude/settings.json
Due: verify-patches
