Repository wlritchi/env: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, cargo-build, verify-patches, yamllint, nixfmt, stylua

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, post-checkout]
default_stages: [pre-commit, pre-push, manual]
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.30
    hooks:
      - id: uv-lock
        require_serial: true

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [fmt]

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [clippy, --all-targets, --all-features, --, -D, warnings]

      - id: cargo-test
        name: cargo test
        description: Run Rust tests
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [test]

      - id: cargo-audit
        name: cargo audit
        description: Check for security vulnerabilities
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        files: ^rust-utils/.*/Cargo\.(toml|lock)$
        pass_filenames: false
        args: [audit]

      - id: cargo-deny
        name: cargo deny
        description: Check licenses and banned dependencies
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        args: [deny, check]
        files: ^rust-utils/.*/(Cargo\.(toml|lock)|deny\.toml)$
        pass_filenames: false

      - id: cargo-build
        name: cargo build
        description: Build the project
        entry: bin/cargo-pre-commit-wrapper.sh
        language: system
        types: [rust]
        pass_filenames: false
        args: [build]

      # Dotfile patch verification
      - id: verify-patches
        name: verify patches
        description: Verify that all dotfile patches apply successfully
        entry: bin/meta/wlr-verify-patches
        language: system
        files: ^(patches/.*\.patch|dotfiles/.*)$
        pass_filenames: false

      # Python/Nix/Lua hooks
      - id: yamllint
        name: yamllint
        entry: uv run yamllint
        language: system
        types_or: [yaml]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      - id: ruff
        name: ruff
        entry: uv run ruff check --fix --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true
        fail_fast: true

      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        files: \.nix$
        require_serial: true

      - id: stylua
        name: stylua
        entry: stylua
        language: system
        files: \.lua$
        require_serial: true

  - repo: https://github.com/wlritchi/pre-commit-via-uv
    rev: 1.0.0
    hooks:
      # disabled until python utils are rewritten as proper modules
      # - id: mypy-all-files
      - id: pyright-all-files

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: mixed-line-ending

ci:
  autoupdate_schedule: monthly
  skip: [cargo-audit, cargo-deny]  # Skip these in CI as they're covered by GitHub Actions

chore(cc-openai): update proxy dependencies
  machines/pkgs/cc-openai-proxy.nix
  src/cc-openai-proxy/package-lock.json
  src/cc-openai-proxy/package.json
Due: nixfmt

feat(ccpatch): add GPT-5.6 OpenAI pricing
  src/wlrenv/ccpatch/patches.py
Due: none

fix(cc-openai): adapt to pi-ai 0.84.x credential-store auth
  src/cc-openai-proxy/bin/cc-openai-proxy.js
Due: none

fix(cc-openai): support message token counts
  src/cc-openai-proxy/bin/cc-openai-proxy.js
  src/cc-openai-proxy/test/convert.test.js
Due: none

fix(cc-openai): log proxy errors safely
  src/cc-openai-proxy/bin/cc-openai-proxy.js
  src/cc-openai-proxy/test/auth.test.js
Due: none

style(cc-openai): format proxy with oxfmt
  src/cc-openai-proxy/bin/cc-openai-proxy.js
  src/cc-openai-proxy/test/convert.test.js
Due: none

fix(cc-openai): default /v1/messages to non-streaming
  src/cc-openai-proxy/bin/cc-openai-proxy.js
  src/cc-openai-proxy/test/convert.test.js
Due: none

docs(claude): tell gpt models not to use plan mode
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

feat(cc-openai): default to the gpt-5.6 model family
  machines/pkgs/claude-code-openai.nix
  src/cc-openai-proxy/bin/cc-openai-proxy.js
  src/cc-openai-proxy/test/convert.test.js
Due: nixfmt

refactor(ccpatch): remove obsolete patch paths
  bin/shims/claude
  docs/specs/2026-05-07-secwrap-includes-design.md
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

chore(ccpatch): update Claude Code to 2.1.172
  machines/pkgs/claude-code.nix
Due: nixfmt

feat: allow multiple PIN/passphrase attempts for signing and secwrap
  bin/git/wlr-git-ssh-sign
  config/git/common
  dotfiles/.ssh/config
  src/wlrenv/secwrap.py
  tests/test_secwrap.py
Due: verify-patches

chore(ccpatch): update Claude Code to 2.1.173
  machines/pkgs/claude-code.nix
Due: nixfmt

fix(cc-openai): avoid logging request details
  src/cc-openai-proxy/bin/cc-openai-proxy.js
  src/cc-openai-proxy/test/auth.test.js
Due: none

fix(ccpatch): preserve provider env in background agents
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/cli.py
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/provider_env_regression.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

feat(ccpatch): route Anthropic-compatible providers in process
  src/wlrenv/ccpatch/cli.py
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/multi_provider_regression.mjs
  tests/ccpatch/provider_env_regression.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: none

fix(ccpatch): retain thinking within providers
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/multi_provider_regression.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: none

docs(claude): name historical comments "tombstones" in comment-discipline agent
  dotfiles/.claude/agents/comment-discipline.md
Due: verify-patches

feat(ccpatch): route OpenAI models through local proxy
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/multi_provider_regression.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: none

feat(cc-openai): manage proxy as user service
  machines/common.nix
  machines/launchd-services.nix
  machines/pkgs/claude-code-openai.nix
  machines/systemd-services.nix
Due: nixfmt

feat(ccpatch): gate providers on available credentials
  machines/common.nix
  machines/launchd-services.nix
  machines/pkgs/cc-openai-proxy-launcher.nix
  machines/pkgs/cc-openai-proxy.nix
  machines/pkgs/claude-code-openai.nix
  machines/pkgs/claude-code-variant.nix
  machines/pkgs/claude-code.nix
  machines/systemd-services.nix
  src/cc-openai-proxy/bin/cc-openai-proxy-auth.js
  src/cc-openai-proxy/bin/cc-openai-proxy.js
  src/cc-openai-proxy/bin/proxy-auth.js
  src/cc-openai-proxy/package-lock.json
  src/cc-openai-proxy/package.json
  src/cc-openai-proxy/test/auth.test.js
  src/cc-openai-proxy/test/convert.test.js
  src/cc-openai-proxy/test/proxy-auth.test.js
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/multi_provider_regression.mjs
  tests/ccpatch/provider_env_regression.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

refactor(ccpatch): consolidate provider models
  machines/common.nix
  machines/pkgs/cc-kimi-splash.txt
  machines/pkgs/cc-minimax-splash.txt
  machines/pkgs/cc-openai-proxy-launcher.nix
  machines/pkgs/cc-openai-splash.txt
  machines/pkgs/cc-zai-splash.txt
  machines/pkgs/claude-code-kimi.nix
  machines/pkgs/claude-code-minimax.nix
  machines/pkgs/claude-code-openai.nix
  machines/pkgs/claude-code-variant.nix
  machines/pkgs/claude-code-zai.nix
  machines/pkgs/claude-code.nix
  machines/pkgs/kimi-teal-theme.json
  machines/pkgs/minimax-nebula-theme.json
  machines/pkgs/openai-slate-theme.json
  machines/pkgs/zai-carbon-theme.json
  src/wlrenv/ccpatch/cli.py
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/multi_provider_regression.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

feat(ccpatch): add GPT-6 Astra
  machines/pkgs/cc-openai-proxy.nix
  src/cc-openai-proxy/bin/cc-openai-proxy.js
  src/cc-openai-proxy/package-lock.json
  src/cc-openai-proxy/package.json
  src/cc-openai-proxy/test/auth.test.js
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/multi_provider_regression.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

fix(ccpatch): map provider context limits
  src/cc-openai-proxy/bin/cc-openai-proxy.js
  src/cc-openai-proxy/test/auth.test.js
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/multi_provider_regression.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: none

feat(ccpatch): add model-aware attribution and token counting
  machines/pkgs/cc-openai-proxy.nix
  src/cc-openai-proxy/bin/cc-openai-proxy.js
  src/cc-openai-proxy/package-lock.json
  src/cc-openai-proxy/package.json
  src/cc-openai-proxy/test/auth.test.js
  src/cc-openai-proxy/test/convert.test.js
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/multi_provider_regression.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

feat(ccpatch): restore provider models and expand agent catalogue
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: none

config(claude): drop bash 1 hour default
  dotfiles/.claude/settings.json
Due: verify-patches

fix(nix): rebuild from committed public HEAD
  .claude/skills/init-private-overlay/SKILL.md
  .claude/skills/init-private-overlay/templates/flake.nix
  bin/meta/wlr-nix-rebuild
  tests/test_nix_rebuild.py
Due: nixfmt

docs(claude): nudge GPT models towards commits too
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

refactor(ccpatch): discover native identifiers across platform builds
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/multi_provider_regression.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

fix(ccpatch): name Kimi provider Moonshot
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/multi_provider_regression.mjs
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: none

fix(ccpatch): support Claude Code 2.1.175
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

fix(ccpatch): support Claude Code 2.1.176
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

fix(ccpatch): support Claude Code through 2.1.179
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

feat(git): confirm SSH signatures before hardware signing
  bin/git/wlr-git-ssh-sign
  tests/test_git_ssh_sign.py
Due: none

fix(git): support terminal signing and early update verification
  bin/git/wlr-git-ssh-sign
  bin/meta/wlr-check-update
  tests/test_check_update.py
  tests/test_git_ssh_sign.py
Due: none

docs(claude): subagent context guidance for GPT models
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

fix(ccpatch): support Claude Code 2.1.181
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

fix(ccpatch): support Claude Code 2.1.182
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_elf_integration.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

config(claude): disable automatic remote control
  dotfiles/.claude/settings.json
Due: verify-patches
