Repository wlritchi/env: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit, cargo-deny, cargo-build, verify-patches, yamllint, nixfmt, stylua

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - fmt

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - clippy
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-test:
  name: cargo test
  description: Run Rust tests
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - test

cargo-audit:
  name: cargo audit
  description: Check for security vulnerabilities
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - audit

cargo-deny:
  name: cargo deny
  description: Check licenses and banned dependencies
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  args:
  - deny
  - check
  pass_filenames: false

cargo-build:
  name: cargo build
  description: Build the project
  entry: bin/cargo-pre-commit-wrapper.sh
  language: system
  pass_filenames: false
  args:
  - build

verify-patches:
  name: verify patches
  description: Verify that all dotfile patches apply successfully
  entry: bin/meta/wlr-verify-patches
  language: system
  pass_filenames: false

yamllint:
  name: yamllint
  entry: uv run yamllint
  language: system
  require_serial: true

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  require_serial: true

stylua:
  name: stylua
  entry: stylua
  language: system
  require_serial: true

feat(ccpatch): pin cc-kimi to K2.7 (kimi-for-coding/k2p7)
  machines/pkgs/claude-code-kimi.nix
  src/wlrenv/ccpatch/patches.py
Due: nixfmt

fix(ccpatch): commit co-author uses the brand display name
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

feat(ccpatch): map runtime model id to clean display name in co-author
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

feat(ccpatch): pin cc-kimi to explicit kimi-k2.7-code
  machines/pkgs/claude-code-kimi.nix
  src/wlrenv/ccpatch/patches.py
Due: nixfmt

feat(ccpatch): bake splash + onboarding-skip into branded binaries
  machines/common.nix
  machines/pkgs/cc-kimi-splash.txt
  machines/pkgs/claude-code-kimi.nix
  machines/pkgs/claude-code-minimax.nix
  machines/pkgs/claude-code-variant.nix
  machines/pkgs/claude-code-zai.nix
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/cli.py
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

feat(cc-variants): inherit base settings, layer brand via --settings
  machines/common.nix
  machines/pkgs/claude-code-variant.nix
Due: nixfmt

feat(ccpatch): thread dev channels to bg agents natively, drop env hack
  machines/pkgs/claude-code.nix
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

fix(ccpatch): forward dev channels through the live agents-view dispatch
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

chore(claude-code): drop redundant --thinking-display wrapper flag
  machines/pkgs/claude-code.nix
Due: nixfmt

feat(ccpatch): surface thinking summaries in -p / non-interactive sessions
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

feat(cc-openai): Add OpenAI proxy and cc wrapper
  machines/common.nix
  machines/pkgs/cc-openai-proxy.nix
  machines/pkgs/cc-openai-splash.txt
  machines/pkgs/claude-code-openai.nix
  machines/pkgs/openai-slate-theme.json
  src/cc-openai-proxy/bin/cc-openai-proxy.js
  src/cc-openai-proxy/package-lock.json
  src/cc-openai-proxy/package.json
  src/cc-openai-proxy/test/convert.test.js
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: nixfmt

docs(claude): update tool, worktree, and plan guidance
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

feat(claude-code): add aarch64-linux to the patched derivation
  machines/pkgs/claude-code.nix
Due: nixfmt

feat(ccpatch): add OpenAI model pricing patch
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

feat(ccpatch): add provider model cost tables
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

feat(claude): enable notifications plugin
  dotfiles/.claude/settings.json
Due: verify-patches

docs(secwrap): phase 3 plan (pass gpg meta key)
  docs/plans/2026-05-07-secwrap-includes-phase-3-impl.md
  pyproject.toml
Due: none

feat(secwrap): walk include graph on the pass backend
  src/wlrenv/secwrap.py
  tests/test_secwrap.py
Due: none

feat(secwrap): gpg meta key (temp GNUPGHOME) for in-process pass decryption
  src/wlrenv/secwrap.py
  tests/test_secwrap.py
Due: none

feat(secwrap): bootstrap subcommand for the pass gpg meta key
  src/wlrenv/secwrap.py
  tests/test_secwrap.py
Due: none

feat(secwrap): rotate-meta and doctor for the pass gpg backend
  src/wlrenv/secwrap.py
  tests/test_secwrap.py
Due: none

feat(secwrap): dispatch subcommands on the pass backend
  docs/specs/2026-05-07-secwrap-includes-design.md
  src/wlrenv/secwrap.py
  tests/test_secwrap.py
Due: none

feat(claude): back to fable baby
  dotfiles/.claude/settings.json
Due: verify-patches

fix(show-drive-temperatures): drives with multiple temperature readouts
  bin/util/show-drive-temperatures
Due: none

chore(gitignore): claude worktrees
  .gitignore
Due: none

config(claude): back to opus again
  dotfiles/.claude/settings.json
Due: verify-patches

feat(cc-variants): pin apiKeyHelper off in variant brand settings
  machines/pkgs/claude-code-openai.nix
  machines/pkgs/claude-code-variant.nix
Due: nixfmt

feat(cc-openai-proxy): fail-secure inbound bearer auth
  machines/pkgs/claude-code-openai.nix
  src/cc-openai-proxy/bin/cc-openai-proxy.js
  src/cc-openai-proxy/test/auth.test.js
Due: nixfmt

docs(claude): warn against grep-style -rn flag in rg guidance
  dotfiles/.claude/CLAUDE.md
Due: verify-patches

chore(gitignore): ignore node_modules
  .gitignore
Due: none

feat(cc-openai-proxy): gpt-5.6 sol/terra/luna via pi-ai 0.80.6
  machines/pkgs/cc-openai-proxy.nix
  src/cc-openai-proxy/bin/cc-openai-proxy.js
  src/cc-openai-proxy/package-lock.json
  src/cc-openai-proxy/package.json
Due: nixfmt

style(cc-openai-proxy): format bin with oxfmt
  src/cc-openai-proxy/bin/cc-openai-proxy.js
Due: none

feat(cc-openai-proxy): migrate to pi-ai Models API + add /v1/models
  src/cc-openai-proxy/bin/cc-openai-proxy.js
Due: none

feat(claude): add comment-discipline review agent
  dotfiles/.claude/agents/comment-discipline.md
Due: verify-patches

feat(env): reattach to the macOS user namespace on shell/tmux handoffs
  env.bash
  machines/darwin.nix
Due: nixfmt

feat(ccpatch): add compact_session self-compaction tool (2.1.170)
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

docs(ccpatch): document the dev-channel activation contract
  src/wlrenv/ccpatch/patches.py
Due: none

chore(python): bump ruff→0.15.22 & ty→0.0.61, clear pre-commit diagnostics
  pyproject.toml
  src/wlrenv/ccpatch/patches.py
  src/wlrenv/niri/restore.py
  src/wlrenv/niri/track.py
  src/wlrenv/retainer.py
  src/wlrenv/secwrap.py
  tests/niri/test_positions.py
  tests/test_secwrap.py
  uv.lock
  xonshrc.py
Due: none

fix(ccpatch): derive compact_session minified IDs by matcher, not literal
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

fix(ccpatch): give compact_session tool a prompt() method
  src/wlrenv/ccpatch/patches.py
  tests/ccpatch/test_patches_catalog.py
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-audit: any of: ^rust-utils/.*/Cargo\.(toml|lock)$
  cargo-deny: any of: ^rust-utils/.*/(Cargo\.(toml|lock)|deny\.toml)$
  cargo-build: any of: \.rs$
  verify-patches: any of: ^(patches/.*\.patch|dotfiles/.*)$
  yamllint: any of: \.(yaml|yml)$
  nixfmt: any of: \.nix$
  stylua: any of: \.lua$
